<html style="">
<head>
    <title></title>
</head>
<body style="width: 80%;margin-left: 10%;">
<div>
    <div style="width: 100%;background-color: rgb(239, 243, 246);margin-left: 0%;text-align: center;">
        <div>
           <img height="59" src="<%= url %>" style="height: 59px; width: 312px;" width="312" />
        </div>
        <div>
            <br>
        </div>
        <hr style="height: 3px;background-color: #171819; border: black;" />
    </div>

    <div style="background-color: white;">
        <div style=" width: 100%; text-align:center  ">
            <div style="font-size:200%; color: black; ">
                <h5 style="margin-bottom: 5px; margin-top: 5px;">Bienvenue sur i-CLEFS (ALPHA)</h5>
            </div>
            <div style=" font-size:100%; color: black;">
                Simplifiez les d&eacute;marches de vos administr&eacute;s avec France Connect
            </div>
            <br><br>
        </div>
        ${body}
    </div>
</div>

<br><br><br>

<div style="background-color: #1e4e71;">
    <hr style="height: 3px;background-color: #171819;border: black;" />
    <br><br><br>
    <div style="text-align:center">
            <span style="font-family: verdana;color: white;">
                D&eacute;velopp&eacute; avec la Plateforme
            </span>
        <a href="http://wakanda.github.io/">
            <span style="font-family: sans-serif;color: whitesmoke;margin-left: 5px;font-weight: bolder;"> Wakanda </span>
        </a>
    </div>

    <div><br></div>
</div>
</body>
</html>
