body :focus{
    outline: none;
}
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   width: 268px;
}
.checkboxOne {
	width: 40px;
	height: 10px;
	background: #555;
	margin: 10px 64px;
	position: relative;
	border-radius: 3px;
}
.checkboxOne label {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;

	background: #ccc;
}
.checkboxOne input[type=checkbox]:checked + label {
	left: 27px;
}
.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 27px;
   width: 200px;
}

.styled-select.slate select {
   font-size: 16px;
   height: 34px;
   width: 268px;
}
.date_button {
 background-image: linear-gradient(-180deg, #39B54A 0%, #34AA44 98%);
border: 1px solid #249533;
border-radius: 4px;
}

.add_button {
	border: none;
    background-color: #A63950;
    background-image: linear-gradient(-1deg, #A63950  2%, #D13959 97%);
    border: 1px solid #A63950;
    color: #ffffff;
    margin-bottom: 2%;
}

.add_button2 {
	border: none;
    background-color: #474CFF;
    background-image: linear-gradient(-1deg, #A63950  2%, #D13959 97%);
    border: 1px solid #1566D8;
    border-radius:25px 25px 25px 25px;
    color: #ffffff;
}


.height {
    background: #F4F7F9;
    box-shadow: 0px -1px 0px 0px #E6EAEE;
    border: 1px solid #E6EAEE;
    height: 64px;
    display: block;
}

#fatCadre {
    background: #FFFFFF;
    border: 1px solid #E6EAEE;
    border-radius: 6px;
    display: block;
    /*width: 520px;*/
    height: 30%;

}

.nomBouton {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 13px;
    color: #7F8FA4;
    margin-top: 28px;
}

.nomRubrique {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 12px;
    color: #7F8FA4;
}

.nb {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 36px;
    color: #1D2531;
}

.border_me {
	border-color: #DADBDD;
	border-width: 1px;
  	border-style: solid;
	font-size: 1px;
  	margin-right: 12px;
  	margin-left: 12px;
}

.red {
    background: red;
 }

.green {
    background: green
 }

 .red, .green {
    margin-right:10px;
    margin-bottom:20px
 }

 /*@font-face {
     font-family: 'Source Sans Pro';
    font-weight: 600;
     src: url('SourceSansPro-Semibold.ttf') format('truetype')
 }

@font-face {
     font-family: 'Source Sans Pro';
     src: url('SourceSansPro-Regular.otf') format('truetype')
 }*/

 body {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    //padding: 20px;
	font-family: sans-serif;
  height: auto !important;
 }

 .div_min {
     min-height:100%;
     margin-top: 23px;
 }

 .text {
     font-family: 'Source Sans Pro';
    font-size: 16px;
    color: #7F8FA4;
 }

 .service_button {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    width: 165px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    height: 36px;
    -webkit-appearance: none;
   }

.search {
    display: block;
    width: 270px;
    float: right;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    box-shadow: none;
    text-align: left;
    margin-right: 30px;
    margin-top: 16px;
   }

summary::-webkit-details-marker {
    transform: rotate(90deg);
}

details[open] summary::-webkit-details-marker {
    transform: rotate(180deg);
}

.agg {
    background: #ffffff;
}

.tab_cache {
    border-collapse: separate;
    border-spacing: 50px 8px;
}

.titre_table_cache {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #1D2531;
    margin-top: 20px;
}

.content_table_cache {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #7F8FA4;
    vertical-align: top;
    word-wrap: break-word;

}

ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: top;
}

.modifier {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    width: 97px;
    height: 36px;
}


#refresh {
    background: #F4F7F9;
    padding-bottom: 44%;
}

summary:focus {
    outline: none;
}

summary::-webkit-details-marker {
    float: right;
    margin-right: 20px;
    color: #A2A8B0;
}

.conteneur {
    background: #ffffff;
    margin-top: 23px;
    margin-left: 39px;
}

.text1 {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.02px;
}

.input {
    border-color: #ffffff;
    border-style: solid;
    width: 248px;
    color: #7F8FA4;
    font-size: 15px;
    font-family: 'Source Sans Pro';
}

.input:focus {
    outline: none;
}


.border_me2 {
    border-color: #D1DAE5;
	border-width: 1px;
  	border-style: solid;
	font-size: 1px;
  	margin-right: 12px;
  	margin-left: 12px;
}

.titre_part {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #1D2531;
    letter-spacing: 0.12px;
}

.choix_item {
    margin-top: 7px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #1D2531;
    letter-spacing: 0px;
    line-height: 30px;
}

.add {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    width: 97px;
    height: 36px;
}

.squaredOne {
	width: 14px;
	height: 14px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fff 0%, #bbbfc5 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 1px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 10px;
	height: 10px;
	left: 2px;
	top: 2px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #fff 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: #7B7D7F;

	background: -webkit-linear-gradient(top, #198423 0%, #198423 100%);
	background: -moz-linear-gradient(top, #198423 0%, #198423 100%);
	background: -o-linear-gradient(top, #198423 0%, #198423 100%);
	background: -ms-linear-gradient(top, #198423 0%, #198423 100%);
	background: linear-gradient(top, #198423 0%, #198423 100%);

	top: 1px;
	left: 1px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.help_button {
	border: none;
    background-color: #474CFF;
    background-image: linear-gradient(0deg, #F2F4F7  2%, #FFFFFF 100%);
    border: 1px solid #1566D8;
    border-radius:25px 25px 25px 25px;
    color: #354052;
    border: 1px solid #CED0DA;
}

h2 {
	color: #555;
}

/*.consult_button {
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 203px;
    height: 36px;
    margin-left: 26px;
    margin-top: 12px;
    margin-right: 36px;
}

.create_boutons {
    background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
    border: 1px solid #A63950;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 248px;
    height: 36px;
}
.create_boutons_disabled {
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 248px;
    height: 36px;
}*/

#FC-logo1 {
  width: 35%;
  margin-top: -16px;
}
#FC-logo2 {
  width: 50%;
}

.zone {
    background: #ffffff;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 2%;
}

.zone2 {
	background: #ffffff;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3%;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 1%;
    height:1%;
    clear: both;
    top:800px;
}

#input {
    margin-left: 5%;
    margin-right: 25%;
    width: 100%;
    height: 25%;
}

.input2 {
    height: 100%;
    width: 75%;
    border-color: #ffffff;
    border-style: solid;
}

.co_button {
	border: none;
    background-color: #474CFF;
    background-image: linear-gradient(0deg, #474CFF, #3A43F3 50%);
    color: #ffffff;
}


@media screen and (max-width: 768px) {
    #wakanda-logo {
        margin: 5% 0;
    }
}
input {
	outline: none;
}

#sidebar {
		background: #0064AE;
		cursor: default;
		height: 100vh;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		text-align: left;
		top: 0;
		width: 20%;
		z-index: 10000;
	}

#sidebar > .inner {
		margin-top: -5%;
		line-height: 3em;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: block;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		-moz-transition: opacity 1s ease;
		-webkit-transition: opacity 1s ease;
		-ms-transition: opacity 1s ease;
		transition: opacity 1s ease;
		opacity: 1;
		width: 100%;
}

#principale {
	margin-left: 20%;
}

#zone_info {
	background: red;
	display: block;
	height: 100%;
	width: 100%;
}

.border_me3 {
	border-color: #EEF1F4;
	border-width: 2px;
  	border-style: solid;
	font-size: 1px;
  	margin-right: 12px;
  	margin-left: 12px;
}

.ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

.header_barre {
    background: #1B2433;
    width: 120%;
    height: 80px;
    margin-left: -20px;
}

.button_create {
    margin-top: 50px;
    margin-left: 30px;
    background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
    border: 1px solid #A63950;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
    width: 258px;
    height: 52px;
}
.button_valider {

    background-image: linear-gradient(-1deg, #14ec6f 2%, #2f8842 97%);
    border: 1px solid #A63950;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
    margin-top: 21px;
    margin-left: 26px;
    width: 70px;
}


.checkboxes {
     visibility: hidden;
}

.annuler {
    margin-left: 16px;
    border: none;
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #354052;
    letter-spacing: 0.12px;
    width: 155px;
    height: 45px;
}

.titre_compte {
    font-family: 'Source Sans Pro';
    font-size: 28.79px;
    color: #354052;
    letter-spacing: 0.02px;
}

.border_me4 {
    border-color: #DADBDD;
	border-width: 1px;
  	border-style: solid;
	font-size: 1px;
}

.titre_row_compte {
    margin-top: 32px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.12px;
}

.button_modif {
    margin-top: 37px;
    margin-bottom: 28px;
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
    width: 258px;
    height: 45px;
}

.add_user {
    margin-top: 14px;
    margin-left: 35px;
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    width: 184px;
    height: 36px;
}

.button_create_user {
    margin-top: 100px;
    margin-bottom: 40px;
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
    width: 258px;
    height: 45px;
}

.texte_create_user {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.02px;
}

.user_rules {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 15px;
    color: #1D2531;
    letter-spacing: 0.12px;
}

.supprimer {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    width: 114px;
    height: 36px;
}

.button_create_profil {
    margin-top: 100px;
    margin-bottom: 40px;
    background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
    border: 1px solid #A63950;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
    width: 258px;
    height: 45px;
}

.titre_droit_create_profil {
    margin-top: 53px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #1D2531;
    letter-spacing: 0.12px;

}

.texte_create_profil {
    margin-top: 8px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.02px;
}

.titre_input_coll {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.12px;
}

.button_register_modif {
    margin-top: 250px;
    margin-bottom: 23px;
    margin-left: 29px;
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14.39px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
    width: 258px;
    height: 45px;
}

.titre_demandes {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    color: #1D2531;
    margin-bottom: 30px;
}

.titre_demandes_grey {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    color: #7F8FA4;
    margin-bottom: 30px;
}

.titre2_demandes {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #7F8FA4;
}

.soustitre_demandes {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #7F8FA4;
}

.num_dossier {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    color: #1D2531;
}

.valider_demande_demandes {
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 176px;
    height: 36px;
    margin-top: 35px;
}

.imprimer_demandes {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    height: 36px;
    width: 116px;
    margin-left: 22px;
}

.exporter_demandes {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    width: 116px;
    height: 36px;
    margin-left: 22px;
}

.refuser_demandes {
    background-image: linear-gradient(0deg, #ff2700 0%, #ff0000 100%);
    border: 1px solid #ff2700;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    line-height: 19px;
    width: 180px;
    height: 36px;
    float: right;
    margin-right: 20px;
    margin-bottom: 21px;
    margin-top: 35px;
}

.infos_demandes {
    margin-top: 20px;
    margin-left: 30px;
}

.titre_infos_demandes {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #7F8FA4;
}

.data_infos_demandes {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color: #1D2531;
    display: block;
    overflow: hidden;
}

.modifier_boutons {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    margin-top: 53px;
    margin-bottom: 21px;
    width: 97px;
    height: 36px;
}

.desactiver_boutons {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    margin-left: 14px;
    margin-top: 53px;
    margin-bottom: 21px;
    width: 120px;
    height: 36px;
}

.supprimer_boutons {
    background-image: linear-gradient(0deg, #ff0000 0%, #ff0000 100%);
    border: 1px solid #ff0000;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    margin-top: 53px;
    margin-bottom: 21px;
    width: 120px;
    height: 36px;
}

#conteneur {
    width: auto;
}

.border_blue {
    border-color: #1A91EB;
	border-width: 2px;
  	border-style: solid;
	font-size: 1px;
    margin-top: 21px;
  	margin-left: 12px;
}

.copier_bouton {
    background-image: linear-gradient(-180deg, #ffffff 0%, #ffffff 98%);
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #1A91EB;
    line-height: 19px;
    height: 36px;
}

.modifier_gestion {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    margin-bottom: 28px;
    width: 97px;
    height: 36px;
    margin-left: 14px;
}

.desactiver_gestion {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    width: 114px;
    height: 36px;
    margin-bottom: 28px;
}

.supprimer_gestion {
    background-image: linear-gradient(0deg, #ff0000 0%, #ff0000 100%);
    border: 1px solid #ff0000;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #ffffff;
    line-height: 19px;
    width: 114px;
    height: 36px;
    margin-right: 20px;
}

.ajouter_option_gestion {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #354052;
    line-height: 19px;
    width: 114px;
    height: 36px;
    margin-top: 36px;
    margin-bottom: 28px;
}

.co_button_dgfip {
	border: none;
    background-color: #474CFF;
    background-image: linear-gradient(0deg, #474CFF, #3A43F3 50%);
    color: #ffffff;
}
#frola-box div:nth-child(4){
    display: none !important;
}
#frola-box div:nth-child(5){
    display: none !important;
}




body{
  background: $main-blue;
  @include font-size(24px);
  @include box-shadow(24px 20px #fff);
}

			.row {
			  	margin-left: 20px;
			  	margin-right: 20px;
			  }

   .container-fluid{
   	.row{
   		.row{
   		.placeholders{
   				padding-left: 3%; padding-right: 3%; margin-bottom: 20px;
   			}


   		}
   			.center{
			background: #EFF3F6;
			height: 680px;

		}
   	  }
   	 .row_class{
   	 	margin-top: 2%;
   	 	#refresh{
   	 		.base{
   	 			padding-bottom: 4%;padding-top: 4%;

   	 			.demandes{
   	 				.demande{
   	 					width: 84%;
					    margin-left: 8%;
					    margin-right: 10%;
   	 					.accordion__tab{
   	 						border-bottom: 2px solid #131010;
						    border-left: 4px solid #0064ae;
						    border: 6px solid #f4f7f9;
						    border-radius: 4px;
						    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
						    box-shadow: 1px 1px 0px 0px rgba(0,0,0,.05);
   	 						.accordion__tab-title{
	   	 					color: #333;
						    background-color: #f5f5f5;
						    border-color: #ddd;
						    padding: 5px;
						    cursor: pointer;
   	 						}
   	 						.accordion__tab-content{
   	 					    background-color: whitesmoke;
							border-top-color: #ddd;
							border-top: 1px solid #ddd;
							padding: 1% 1% 1% 1%;

									.row{
										.content{
											background-color: white; margin-bottom: 3%; background-color: white; margin-bottom: 3%; border-radius: 5px; padding-top: 15px; box-shadow: 3px 1px 2px rgba(39, 70, 63, 0.64);

										}
									}

									.modif{
										background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
								        border: 1px solid #1566D8;
								        border-radius: 4px;
								        font-family: SourceSansPro-Semibold;
								        font-size: 14px;
								        color: #FFFFFF;
								        line-height: 19px;
								        height: 38px;
								        width: 80%
									}
									.delete{
										  background-image: linear-gradient(0deg, #ff2700 0%, #ff0000 100%);
								          border: 1px solid #ff2700;
								          border-radius: 4px;
								          font-family: SourceSansPro-Semibold;
								          font-size: 14px;
								          color: #ffffff;
								          line-height: 19px;
								          height: 38px;
								          width: 80%
									}

   	 							}
   	 					}
   	 				}
   	 			}
   	 		}
   	 	.conteneur{
   	 		.row{
   	 		   .main{
   	 		   	width: 80%;
                margin-left: 5%;
                ul{
                	li{
                		.border_me4{
                			width: 80%;
                		}
                	}
                }
   	 		   }
   	 		   .button_main{
		    		.button_create_user{
		    		}
		    		.annuler{
					        margin-left: 50%;
		    		}
		    	}

   	 		}

   	 	}
   	 }
   	 }

   }
  @media (min-width : 768px) and (max-width: 991px) {
   .container-fluid{
   	margin-top: 2%;


   	 .row_class{
   	 	    margin-top: 2%;
   	#refresh {
   		margin-top: 0%;
    background: #F4F7F9;
    width: 90%;
    margin-left: 10%;
    .conteneur{
    	background: #ffffff;
	    width: 90%;
	    box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
	    border-radius: 6px;
	    margin-left: 5%;
	    .texte_create_user{
	    	font-family: SourceSansPro-Regular;
	    font-size: 15px;
	    color: #354052;
	    letter-spacing: 0.02px;
	    margin-bottom: -79px;
	    padding-top: 6%;
	    }
    .row{

    	.titre_row_compte{
    		font-family: SourceSansPro-Semibold;
		    font-size: 15px;
		    color: #354052;
		    letter-spacing: 0.12px;
    	}
    	.main{
    		    margin-left: 20%;
    		    ul{
    		    	li{
    		    		.form-control{
    		    			margin-top: 5%;
                            width: 80%;
    		    		}
    		    	}
    		    }
    	}
    	.button_main{
    		width: 100%;
    		.button_create_user{
    			width: 60%;
			    margin-left: 20%;
			    margin-bottom: 2%;
    		}
    		.annuler{
    			width: 60%;
			    margin-left: 20%;
			    margin-bottom: 2%;
    		}
    	}
    }
    }
  }
   }
   }


  }
  @media (max-width : 767px) {
    .d {
      width: 50% !important;
      float: none !important;
      margin-left: 12px;
    }
    .container-fluid
    {
    	margin-top: -14%;
    	.row{
    	margin-top: 5%;
	    width: 100%;
	    margin-left: 0%;
	    padding-top: 3%;

	     .placeholders{

	     }
	     .row{

	     }
	     .height{
	     	height: 100px;



	     }
	    .row_class{
	    	margin-top: -10%;
    	#refresh {
    		padding-bottom: 9%;
    		.conteneur{

    			.row{
    				    .main{
                            left: 5%;
    				    	ul{
			    		    	li{
			    		    		.form-control{
			    		    			padding-top: 0 ;
			    		    			margin-top: 3%;
			                            width: 100%;
			    		    		          }
			    		    		 .border_me4{
			    		    		 	width: 100%;
			    		    		 }
    		    	               }
    		                    }

    				    }
    				    .button_main{
    						margin-left: 15%;
    						width: 70%;
    						.button_create_user{
    							margin-bottom: 2%;
    						}
    						.annuler{
    						margin-left: 0%;
    						}
    		                  }
    			}
    		}
    	}
    }
    }
    }
   }
#refresh1 {
  padding-bottom: 2%;
  padding-top: 2%;

  .warning-msg {
    color : RED ;
    font-size : 16px
  }
  .success-msg {
    color : GREEN ;
    font-size : 16px
  }
  .form-compte {
    margin-top: 30px;
  }
  .border_me4 {
    border-color: #DADBDD;
    border-width: 1px;
    border-style: solid;
    font-size: 1px;
    width: 100%;
    margin-top: 17px;
  }
  li {
    margin-top: 13px;
  }
  .input {
    border-color: #ffffff;
    border-style: solid;
    width: 100%;
    color: #7F8FA4;
    font-size: 15px;
    font-family: SourceSansPro-Regular;
  }
  .btn-cancel {
    background-image : linear-gradient(-1deg, #babfc7 2%, #a3acbb 98%);
  }
}
.search-coll {
  .btn-search {
    position: absolute;
    top: 0px;
    right: -5%;
  }
}
.detail-collectivity {
  margin-top: 15px;
  font-size: 20px;
  font-family: sans-serif;
  .presentation-col {
    color: #7f8fac;
  }
  .presentation-name {
    font-weight: bold;
    margin-left: 9px;
  }
  .info {
    font-size: 16px;
  }
  .presentation-info {
    font-size: 15px;
    color: #7f8fac;
  }
}
.info-zone {
  margin-top: 11px;
  .border-btm {
    border-bottom: 4px solid #354052;
    span {
      font-size: 20px;
      color: #7f8fac;
    }
  }
  table {
    .t {
      font-weight: bolder;
    }
  }
}
.br-login {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: -2%;
}
.input-login {
  margin-top: 6%;
  margin-left: 6%;
}
.foot {
  text-align: center;
  margin-top: 5%;
  .text {
    color: #7F90A8;
  }
  .text-link {
    font-weight: bold;
  }
}
.create-btn {
  background: #F4F7F9;
  margin: -40px 0px 0px 0px;
  .plus {
    width: 8px;
    height: 8px;
    margin-right: 1%;
  }
  .text-create-btn {
    font-size: 114%;
    font-weight: bold;
  }
}
.form-box {
  background-color: white;
  padding-left: 35px;
  padding-top: 34px;
  box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
  border-radius: 10px;
  margin-bottom: 90px;
  .txt {
    font-size: 26px;
    color: black;
    font-family: sans-serif;
  }
  .ti {
    margin-bottom: 30px;
  }
  .btn-width {
    max-width: 69%;
  }
  .wd {
    max-width: 45%;
    .input-col {
      border-color: #ffffff;
      border-style: solid;
      width: 100%;
      color: #7F8FA4;
      font-size: 15px;
      font-family: SourceSansPro-Regular;
    }
    .b {
      margin-top: 4px;
    }
  }
  .bt {
    margin-top: 39px
  }
  .n {
    margin-top: 6px !important;
    margin-bottom: 41px;
    margin-left: 28px;
    width: 259px;
  }
  .color-t {
  color: rgb(26, 145, 235);
  }
  .titre_row_compte {
    margin-bottom: 18px;
  }
  .btn-cntrl {
    margin-bottom: 60px;
    margin-top: 40px;
    .btn-create {
      background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
      border: 1px solid #CED0DA;
      font-family: SourceSansPro-Semibold;
      color: #FFFFFF;
    }
    .btn-cancel {
      background-image: linear-gradient(-1deg, #F2F4F7 2%, #FFFFFF 97%);
      border: 1px solid #CED0DA;
      font-family: SourceSansPro-Semibold;
    }
  }
}
.alert-div {
  padding: 17px;
  text-align: center;
  .err {
    color: red;
    font-size: 16px;
  }
  .su {
    color: green;
    font-size: 16px;
  }
}
.user-info {
  background-color: white;
  top: -41px;
  height: 64px;
  .inf {
    font-family: SourceSansPro-Regular;
    font-size: 15px;
    margin-top: 5%;
    color: rgba(65, 75, 82, 0.58);
    position: absolute;
  }
  .date {
    position: relative;
    float: right;
    font-weight: bold;
  }
}
.btn-btn {
  background: #F4F7F9;
  box-shadow: 0px -1px 0px 0px #E6EAEE;
  border: 1px solid #E6EAEE;
  top: -40px;
  //height: 64px;
  padding-bottom: 12px;
  padding-top: 12px;
  .text-create-btn {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #354052;
    letter-spacing: 0.02px;
    font-weight: bold;
    a {
      color: #D13959;
    }
  }
}

#slctTp {
  &:focus {
    option {
      &:first-of-type {
        display: none;
      }
    }
  }
}
.fields {
  width: 77%;
  margin-left: 62px;
  .cell1{
    width: 30%;
  }
  .cell2 {
    width: 32%;
  }
  .cell3{
    width: 27%;
  }
  span {
    color: red;
    font-size: 18px;
    cursor: pointer;
  }
}
.frm-padd {

  padding-bottom: 27px;
}
.content-page{
  .img1{
    height: 100px;
  }
  .img2{
    width: 200px;
  }
  .brdr{
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 0%;
  }
  .marge{
    margin-bottom: 20px;
  }
}
.upload-info{
  padding-left: 60px;
  padding-top: 26px;
  .upload-er{
    color: red;
    display: none;
  }
  .upload-war{
    color: #e2a000;
    display: none;
  }
  .upload-succ{
    color: green;
    display: none;
  }
}
.pagination-footer{
  .page-item{
    cursor: pointer;
  }
  .pages {
    background-color: rgba(221, 221, 221, 0.37);
    color: black;
  }
  button {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .next{
    border-radius: 0px 6px 6px 0px;
  }
  .previous{
    border-radius: 6px 0px 0px 6px;
  }
}
.head-logo{
  margin-top: 68px;
  .zone-white{
    border-radius: 5px;
  }
}
.titre-page{
  margin-top: 40px;
  .service{
    font-family: SourceSansPro-Bold;
    font-size: 32px;
    color: #354052;
    letter-spacing: -0.43px;
  }
  .separator{
    margin-top: 8px;
    margin-bottom: 20px;
    background: #FFFFFF;
    height: 2px;
  }
}
.info-text{
  margin-top: -3px;
  margin-bottom: 20px;
  .info{
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    color: #354052;
    line-height: 27px;
  }
}
.required{
  margin-top: 45px;
  .hand{
    background: #1A91EB;
    padding: 3px 1px 5px 7px;
    border-radius: 18px;
    font-size: 20px;
    color: #FFF;
    margin-right: 12px;
  }
}
.champ{
  margin-top: 35px;
  .file{
    display: none;
  }
  .text{
    ont-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #354052;
  }
  .input-text{
    margin-top: 4px;
    background: #FFFFFF;
    border: 1px solid #DADBDD;
    border-radius: 4px;
    width: 333px;
    height: 43px;
    padding-left: 10px;
  }
  .FileError{
    border: 1px solid #f53333;
  }
  .error{
    color: red;
    font-weight: 600;
    margin-top: -6px;
    display: block;
    width: 100%;
  }
  .upload{
    background: #EFF3F6;
    border: 1px solid #CED0DA;
    border-radius: 4px;
    width: 333px;
    display: block;
    height: 43px;
    padding-left: 11px;
    margin-top: 7px;
    padding-top: 9px;
    span{
      font-family: SourceSansPro-Regular;
      font-size: 14px;
      color: #7F8FA4;
    }
    label{
      background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
      border-left: 1px solid #CED0DA;
      border-radius: 4px;
      height: 41px;
      width: 117px;
      padding: 9px;
      cursor: pointer;
      float: right;
      margin-top: -9px;
    }
  }
}
.btn-logout{
  margin-top: -16px;
  margin-bottom: 40px;
  text-align: center;
  .send{
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 2px;
    width: 258px;
    height: 43px;
    span{
      font-family: SourceSansPro-Semibold;
      font-size: 14.4px;
      color: #FFFFFF;
      letter-spacing: 0.12px;
    }
  }
}
.btn-send{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  .send{
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 2px;
    width: 258px;
    height: 43px;
    span{
      font-family: SourceSansPro-Semibold;
      font-size: 14.4px;
      color: #FFFFFF;
      letter-spacing: 0.12px;
    }
  }
}
.err-msg{
  text-align: center;
  padding-top: 15px;
  color: red;
}
.info-demande{
  p{
    font-size: 16px;
    color: #354052;
    line-height: 27px;
    margin-bottom: 35px;
  }
}

@media print {
  #recu {
    padding-top: 9cm;
    .btn-send{
      display: none;
    }
    .foot {
      display: none;
    }
    .zone-white {
      color: green !important;
    }
    .titre-page .service{
      color: red !important;
    }

  }
}
.filter{
  margin-bottom: 19px !important;
  .choix{
    margin-left: 10px !important;
  }
  .text-filter{
    color: #0064ae;
  }
}