.btn-action-principale-bleu{
    background-color: $light-blue;
    border: 1px solid #1566D8;
    color: #ffffff;
    border-radius: 5px;
    &:hover{
    	background-color: $dark-blue;
    }
}

.btn-action-principale-gris {
  background-color: $main-gray;
  border: 1px solid $dark-gray;
  border-radius: 5px;
  letter-spacing: 0.12px;
  &:hover{
  	background-color: $dark-gray;
  }
}
.btn-action-secondaire-gris {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 5px;
  letter-spacing: 0.12px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.btn-action-grand {
  width: 100%;
  height: 45px;
}
.btn-action-medium {
    padding: 10px 30px;
}
.btn-action-principale-rouge {
  background-color: $light-red;
  border: 1px solid #A63950;
  color: #ffffff;
  border-radius: 5px;
  &:hover{
  	background-color: $main-red;
  }
}
.btn-action-secondaire-bleu {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}