#sidebar {
  background: #0064AE;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: left;
  top: 0;
  width: 20%;
  z-index: 10000;
}

#sidebar {
  .inner {
    margin-top: -5%;
    line-height: 3em;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: block;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1;
    width: 100%;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1%;
  height:1%;
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}
.sidebar {
	padding: 0;
  background: #0064AE;
  .sidebar-header {
    background: #1B2433;
    width: 100%;
    height: 80px;
    //margin-left: -20px;
  }
  .info{
    text-align: center;
  }
  @media (min-width: 768px) {

    .menu-icon {
      display: none;
      background-color: #ff0000;
    }
    .info {
      //margin-left: 33px;
      padding: 20px;
    }
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    //background-color: #f5f5f5;
    border-right: 1px solid #eee;
    .menu-icon {
      display: none;
    }
   
  }
  @media (max-width: 767px)
  {
    padding: 0% 3% 0% 9%;
    .row{
    		margin-left: 20px;
		  	margin-right: 20px;
    }
	    .sidebar-header {
	      background: #1B2433;
	      width: 113%;
	      height: 80px;
	      margin-left: -10%;
	      .info {
	        margin: -31px 0px 0px 81px;
	        font-size: 111%;
	      }
	      
	    }
    .menu-icon {
      color: white;
      font-size: 246%;
      margin: 3% 0% 0% 3%;
    }
    .nav-sidebar  {
      display: none;
    }
    .nav {
      li {
        position: relative;
        display: block;
        width: 97%;
      }
    }
  }
       
}
.connexion-btn {
  width: 40%;
  height: 45px;
  color: #ffffff;
  font-size: 10pt;
  margin-top: 12%
}
.img-logo {
  width: 100%;
}
.request-title {
  font-family: sans-serif;
}
.base {
 /* background-color: #EFF3F6;
  box-shadow: 0px -1px 0px 0px #E6EAEE;
  border-top: 3px solid #E6EAEE;*/
  .head {
    padding-top: 18px;
  }
  .d {
    margin-right: 2%;
    width: 19.8%;
    height: 140px;
    padding-left: 8px;
    float: left;
  }
  .info-statc {
    background: #FFFFFF;
    border: 1px solid #E6EAEE;
    border-radius: 6px;
    margin-bottom: 2%;
    .table-cell {
      width: 100%;
      .cell {
        padding-top: 15px;
      }
    }
    .text1 {
      font-family: SourceSansPro-Regular;
      font-size: 15px;
      color: #354052;
      letter-spacing: 0.02px;
      margin-top: 25px;
      span {
        color: #D13959;
      }
    }
    .service-name {
      margin-top: 2%;
      margin-bottom: 2%;
      input {
        color: black;
        width: 94%;
        margin-left: 12px;
      }
    }
    .data-ch {
      font-family: SourceSansPro-Semibold;
      font-size: 14.39px;
      color: #1D2531;
      letter-spacing: 0.12px;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    .chek {
      margin-left: 34px;
      .opt {
        font-size: 17px;
        font-weight: bold;
      }
      .cmnt {
        color: saddlebrown;
        font-weight: 100;
      }
      .dnP {
        color: black;
        width: 94%;
        margin-left: 12px;
      }
      .bt {
        background-color: #fafafa;
      }
      .error-msg {
        font-size: 14px;
        font-family: sans-serif;
        color: red;
        margin-top: 9px;
      }
      .mail-popup {
        background-color: white;
        border-radius: 8px;
        padding-top: 6px;
        border: 2px solid #c7c7c7;
      }
    }
    .brd {
      border-top-width: 2px;
    }
    .btnCntrl {
      margin-top: 40px;
      .add_button {
        background-color: #A63950;
        background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
        border: 1px solid #A63950;
        color: #ffffff;
        margin-right: 45px;
        margin-left: 3%;
        width: 100%;
        height: 44px;
        margin-top: 0px;
      }
      .cncl {
        width: 80%;
      }
    }
  }
  .search-input {
    display: block;
    width: 270px;
    float: right;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    box-shadow: none;
    text-align: left;
    margin-right: 30px;
  }
  .demandes {
    margin-bottom: 30px;
    margin-top: 30px;
    .demande {
      margin-bottom: 10px;
      border-left: 4px solid #354052;
      background-color: #ffffff;
      /*width: 80%;
      margin-left: 10%;
      margin-right: 10%;*/
      canvas{
      	width: 100% !important;
      }
      .act {
        color: #008C3A;
      }
      .inact {
        color: #ff0000;
      }
      .info {
        margin-top: 18px;
        margin-bottom: 73px;
        .table-presentation {
          width: 100%;
          margin-left: 20px;
          margin-bottom: 17px;
          .text-conf {
            font-size: 16px;
            font-family: SourceSansPro-Semibold;
          }
          .glyphicon {
            font-size: 111%;
            color: darkgrey;
          }
          td {
            width: 50%;
            .z {
              margin-right: 60px;
            }
          }
          .td {
            width: 30%;
          }
        }
      }
      .c {
        margin-bottom: 23px;
      }
      .meta-data {
        font-family: SourceSansPro-Regular;
        font-size: 14px;
        color: #7F8FA4;
      }
      .data {
        font-family: SourceSansPro-Regular;
        font-size: 16px;
      }
      .service-data {
        margin-top: 9px;
        .glyphicon {
          color: #7f8fa4;
        }
      }
      .border-separator {
        border-color: #DADBDD;
        border-width: 1px;
        border-style: solid;
        font-size: 1px;
        margin: 10px 0px -7px 18px;
      }
      .top_separator{
      	margin-top: 3%;
      }
      .btn-controlle {
        margin-bottom: 15px;
        .valider-demande {
          background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
          border: 1px solid #1566D8;
          border-radius: 4px;
          font-family: SourceSansPro-Semibold;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 19px;
          height: 38px;
          width: 60%
        }
        .refuser-demande {
          border: 1px solid #D13959;
          background-color: #D13959;
          border-radius: 4px;
          font-family: SourceSansPro-Semibold;
          font-size: 14px;
          color: #ffffff;
          line-height: 19px;
          height: 38px;
          width: 60%
        }
      }
    }
  }
  .cur {
    cursor: pointer;
  }
}
