
.topbar {
  border-bottom: 3px solid #eeeeee;
  margin-bottom: 40px;
  padding-bottom: 14px;
  background-color: white;
  height: 80px;
  .image1 {
    max-width: 130px;
    margin-top: -9px !important;
    float: right;
  }
  .image2 {
    max-width: 150px;
    float: right;
  }
}
  @media screen and (orientation:landscape){
  	.body{
  		margin: 1% 5% 0% 5%;;
  	}
  	.topbar
		 {
      border-bottom: 3px solid #eeeeee;
          .image1{
            width: 40%;
            margin-top: -19px;
          }
          .image2 {
            width: 56%;
          }
		}
  }