<div style="margin-left: 5%;text-align: initial;color: black;font-size: 15px;font-style: normal;font-family: sans-serif;">
    Bonjour ${name},
    <br><br>
    Vous avez une nouvelle demande d'utilisateur ${userName} pour la création du compte pour la collectivité ${collectivityName}.
</div>