<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <br><br>
            <div class="form-box frm-padd">
                <div class="">
                        <span class="texte_create_user" aria-level="1" role="heading">
                            Remplissez le formulaire et cliquez sur
                            <span class="color-t">Créer l'utilisateur </span>.
                            Cliquez sur <b> Annuler </b> pour revenir à la liste des utilisateurs.
                        </span>
                    <form name="myForm" ng-submit="inFunc(user); addAlert()" ng-class="{'submitted': submitted}">
                        <div class='bg-danger text-center' ng-show='emailExist'>
							    <span >
                                    Un compte est déjà associé à cette adresse email.
							    </span>
                        </div>
                        <div class='bg-danger text-center' ng-show='myForm.$error'>
							    <span  ng-show='myForm.pw2.$error.pwmatch'>
							        Les mots de passe ne sont pas identiques.
							    </span>
                        </div>
                        <div class="col-md-12">
                            <div uib-alert ng-repeat="alert in alerts" close="closeAlert()" ng-class="alert.type" ng-if="show"
                                 dismiss-on-timeout="5000">
                                {{alert.msg}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="titre_row_compte" >
                                    DONNÉES UTILISATEUR
                                </div>
                            </div>
                            <br>
                            <div class="">
                                <div class="form-group wd">
                                    <input class="input-col input"  title="Nom" id="input_nom" type="text" placeholder="Nom" ng-model="user.lastName" required>
                                    <div class="border_me4 b"></div>
                                </div>
                                <div class="form-group wd">
                                    <input class="input-col input"  title="Prenom" id="input_prenom" type="text" placeholder="Prénom" ng-model="user.firstName" required>
                                    <div class="border_me4 b"></div>
                                </div>
                                <div class="form-group wd">
                                    <input class="input-col input" title="Email" id="input_email" type="text" placeholder="Adresse e-mail" ng-model="user.userName" required>
                                    <div class="border_me4 b"></div>
                                </div>
                                <div class="form-group wd">
                                    <input class="input-col input" title="Mot de Passe" id='pw1' name='pw1'  type="password" placeholder="Mot de passe" ng-model="user.password" required>
                                    <div class="border_me4 b"></div>
                                </div>
                                <div class="form-group wd">
                                    <input class="input-col input" title="Confirmation mot de passe "  id='pw2' name='pw2' type="password" pw-check='pw1'   ng-model="pw2" placeholder="Comfirmer mot de passe" required>
                                    <div class="border_me4 b"></div>
                                </div>
                                <div class="form-group btn-width">
                                    <div class="col-md-6">
                                        <button ng-click=" submitted= true; "  class="btn-action-principale-bleu btn-action-grand">
                                            CRÉER L'UTILISATEUR
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button ng-click="cancelAddUser()" class="btn-action-principale-gris btn-action-grand">
                                            ANNULER
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .submitted .ng-invalid{
        border: 1px solid red;
    }
</style>
</body>
</html>