<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <br><br>
            <div id="refresh1" class="col-md-7 col-md-offset-2 form-box">
                <div>
                    <div class='msg-block text-center' ng-if='updated'>
                        <div class="col-md-8 col-md-offset-2 bg-success">
                            <br>
                            <span class="success-msg">
						            Les informations de votre compte ont été modifiées.
						        </span>
                            <br>
                        </div>
                    </div>
                    <div class='msg-block text-center' ng-if='error'>
                        <div class="col-md-8 col-md-offset-2 bg-danger">
                            <br>
                            <span class="warning-msg">
						            L'ancien mot de passe que vous avez saisi est incorrect!
						        </span>
                            <br>
                        </div>
                    </div>
                    <div class="titre_compte col-md-12 form-compte">Modifier mes informations
                        <div class="border_me4"></div>
                    </div>
                    <div class="col-md-8">
                        <ul>
                            <li class="titre_input" >&nbsp;NOM</br>
                                <input id="input_nom" title="Nom" class="input" type="text" value="{{user.lastName}}" disabled>
                                <div class="border_me4" ></div>
                            </li>
                            <li class="titre_input" >&nbsp;PRÉNOM</br>
                                <input id="input_prenom" title="Prenom" class="input" type="text" value="{{user.firstName}}" disabled>
                                <div class="border_me4" ></div>
                            </li>
                            <li class="titre_input"  >&nbsp;ADRESSE E-MAIL</br>
                                <input id="input_mail" class="input" title="Pseudo" type="text" value="{{user.userName}}" disabled>
                                <div class="border_me4" ></div>
                            </li>
                            <li>
                                <input id="input_old_password" class="input" title="Ancien Mot de passe" type="password" placeholder="Ancien mot de passe" ng-model="user.old">
                                <div class="border_me4"></div>
                            </li>
                            <li>
                                <input id="input_new_password" class="input" title="Nouveau mot de passe" type="password" placeholder="Nouveau mot de passe" ng-model="user.newPassword">
                                <div class="border_me4"></div>
                            </li>
                        </ul>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <button class="btn-action-grand btn-action-principale-bleu" ng-click="SaveUserInfo(user)">
                                    ENREGISTRER
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn-action-grand btn-action-principale-gris" ng-click="Cancel()">
                                    ANNULER
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>