<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>

    <body>

<div class="container">
    <!--logos-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 zone-white">
            <div class="text-center">
            <img id="FC-logo1" src="images/addulact.png" alt="" >
            <img id="FC-logo2" src="images/FranceConnect.png" alt="" >
        </div>
        </div>
    </div>
    <!-- welcome text-->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">
                <span class="welcome-text" aria-level="1" role="heading">
                    Bienvenue sur i-CLEFS (ALPHA)
                </span> <br>
                <span class="chld-welcome">
                    Simplifiez les démarches de vos administrés avec France Connect
                </span>
            </p>
        </div>
    </div>
    <!--end welcome text-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2 zone-white  shadow-zone">
            <form name="myForm" ng-submit="createAccount(user)" ng-class="{'submitted': submitted}">
                <br>
                <p class="text-center">
                    <span class="connection-text">
                        Créer votre compte I-Clefs
                    </span>
                </p>
                <p class="text-center">
                         <span >
                             Tous les champs sont obligatoires
                         </span>
                </p>

                <div class='msg-block text-center' ng-show='msgError'>
                     <span style="color : RED ; font-size : 16px">
				        {{message}}
                     </span>
                </div>

                <div class='msg-block text-center' ng-show='myForm.$error'>
				    <span style="color : RED ; font-size : 16px" ng-show='myForm.pw2.$error.pwmatch'>
                        Les mots de passe ne sont pas identiques.
                    </span>
                </div>

                <div class="border_me" style="margin-right: 10%; margin-left: 10%; margin-bottom: -2%">
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <fieldset>
                            <legend style="color: #333E54; font-size:1.1em; border-bottom: none"><b>DONNÉES ADMINISTRATEUR</b></legend>
                            <div>
                                <input title="Nom" id="input_nom" class="form-control" type="text" placeholder="Nom" style="margin-top: 5%; width: 80%;" ng-model="user.lastName" required>
                                <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                            </div>
                            <br>
                            <div>
                                <input title="Prenom" id="input_prenom" type="text"  class="form-control" placeholder="Prénom" style="margin-top: 5%; width: 80%;" ng-model="user.firstName" required>
                                <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                            </div>
                            <br>
                            <div>
                                <input title="email" id="input_mail" name="mail" type="email"  class="form-control" placeholder="Adresse e-mail" style="margin-top: 5%; width: 80%;" ng-model="user.userName" required>
                                <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                            </div>
                            <br>
                            <div>
                                <input  title="mot de passe" type="password" id='pw1' name='pw1'  class="form-control" placeholder="Mot de passe" style="margin-top: 5%; width: 80%;" ng-model="user.password" required>
                                <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                            </div>
                            <div>
                                <input title="Confirmation Mot de passe" id='pw2' name='pw2' type="password" pw-check='pw1' class="form-control" placeholder="Confirmer mot de passe" ng-model="pw2" style="margin-top: 5%; width: 80%;" required>
                                <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-5 col-md-offset-1" >
                        <fieldset>
                        <legend style="color: #333E54; border-bottom: none; font-size: 1.05em"><b>INFORMATIONS COLLECTIVITÉ</b></legend>
                        <div>
                            <input title="Nom COLLECTIVITÉ" id="input_nom_coll" class="form-control" type="text" placeholder="Nom de la collectivité" style="margin-top: 5%; width: 80%;" ng-model="user.collectivity" required>
                            <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%;"></div>
                        </div>
                        <br>
                        <div>
                            <input title="Code Collectivité" id="input_code" ng-keypress="validateNumber($event)" type="text"  class="form-control" placeholder="Code Postal" style="margin-top: 5%; width: 80%;" ng-model="user.zipcode" required>
                            <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                        </div>
                        <br>
                        <div>
                            <input title="CNIL France Connect" id="input_FC" type="number"  class="form-control" placeholder="N° de déclaration CNIL France Connect" style="margin-top: 5%; width: 80%;" ng-model="user.cnil" required>
                            <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                        </div>
                        </fieldset>
                    </div>

                </div>

                <br><br>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" ng-click="submitted= true;" name="connexion" class="btn co_button">CRÉER MON COMPTE</button>
                    </div>
                    <br><br>
                    <div class="col-md-8 col-md-offset-2">
                        <div style="text-align: center">
                            <span style="color: #333E54">Vous avez déjà un compte ?</span>
                            <a ng-click="goToLoginPage()" href="#" title="Cliquer pour se connecter" >
                                <span style="color: #00A3F7">Connectez-vous</span>
                            </a>
                            <p><br></p>
                        </div>

                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-8 col-md-offset-2 foot">
            <span class="text">Développé avec la Plateforme</span>
            <span class="text-link"><a target="_blank" title="Cliquer pour visiter le site de Wakanda" href="http://wakanda.github.io/">Wakanda</a></span>
        </div>
    </div>
</div>

<style>
    .submitted .ng-invalid{
        border: 1px solid red;
    }
</style>

    </body>
</html>