<div style="margin-left: 5%;text-align: initial;color: black;font-size: 15px;font-style: normal;font-family: sans-serif;">
    Bonjour ${name},
    <br><br>
    Pour réinitialiser votre mot de passe de votre compte I-Clefs, Veuillez cliquer sur ce <a href="<%= url %>">Lien</a>
</div>
