
<div class="col-sm-3 col-md-2 sidebar">
    <div class="sidebar-header">
        <span id="show-menu" class="glyphicon glyphicon-menu-down menu-icon" onclick="show_hide()"></span>
        <div class="info">
            <span style="color: #DFE0E2"  >{{vm.fullName}}</span><br>
            <span style="color: #4E8BAC"  ng-if="vm.poste == 'Admin de collectivité'"> Administrateur </span>
            <span style="color:#4E8BAC"  ng-if="vm.poste == 'Agent'"> Agent de collectivité </span>
        </div>


    </div>
    <ul class="nav nav-sidebar" id="navSdebar">
        <li ng-if="vm.poste != 'Super Admin'">
            <a ui-sref="administrationStatistics" ui-sref-active="active">
                <img src="images/home.png" alt="Acceuil" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Accueil </span>
            </a>
        </li>
        <li ng-if="vm.poste == 'Super Admin'">
            <a ui-sref="globalStatistics" ui-sref-active="active">
                <img src="images/home.png" alt="Aceuil" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Accueil </span>
            </a>
        </li>
        <li ng-if="vm.poste == 'Admin de collectivité'">
            <a ui-sref="services" ui-sref-active="active">
                <img src="images/iconBouton2.png" alt="France Connect" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Services France Connect</span>
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li ng-if="vm.poste != 'Super Admin'">
            <a ui-sref="requests" ui-sref-active="active">
                <img src="images/iconDemandes.png" alt="Demandes" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Demandes</span>
            </a>
        </li>
        <li ng-if="vm.poste == 'Super Admin'">
            <a ui-sref="demandes_collectivity" ui-sref-active="active">
                <img src="images/iconDemandes.png" alt="Nouvelles collectivités" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Nouvelles collectivités</span>
            </a>
        </li>
        <li ng-if="vm.poste == 'Admin de collectivité'">
            <a ui-sref="collectivite" ui-sref-active="active">
                <img src="images/iconCollectivite.png" alt="Connecltivités" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Collectivité</span>
            </a>
        </li>
        <li ng-if="vm.poste == 'Admin de collectivité'">
            <a ui-sref="userManagement" ui-sref-active="active">
                <img src="images/iconGestion.png" alt="Gestion utilisateurs" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Gestion des utilisateurs</span>
            </a>
        </li>
        <li ng-if="vm.poste != 'Super Admin'">
            <a ui-sref="compte" ui-sref-active="active">
                <img src="images/iconCompte.png" alt="Mon Compte" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Mon compte</span>
            </a>
        </li>
        <li ng-if="vm.poste == 'Super Admin'">
            <a ui-sref="compte_admin" ui-sref-active="active">
                <img src="images/iconCompte.png" alt="Mon compte" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Mon compte</span>
            </a>
        </li>
        <li ng-click="vm.disconnect()"  >
            <a href="#">
                <img src="images/iconDeconnexion.png" alt="Déconnexion" style="width: 16px; height: 16px; margin-right: 4%;">
                <span style="color: #ffffff">Déconnexion</span>
            </a>
        </li>
    </ul>
</div>