<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="">
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 user-info">
        <div class="col-md-4">
            <span class="inf" >Bonjour {{fullName}}</span>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <span class="inf date">{{date_fr}}</span>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 btn-btn">
        <div class="heigh">
            <div class="col-md-3">
                <button ui-sref="requests" class="btn-action-principale-bleu btn-action-medium" type="submit"
                        name="consult">
                    <img src="images/IconConsult.png" class="image" alt="Consulter les demandes">
                    <span>Consulter les demandes</span>
                </button>
            </div>
            <div class="col-md-3">
                <button ng-if="role =='Admin de collectivité' && showButton" ng-show="showButton"
                        ui-sref="new_Service" class="btn-action-principale-rouge btn-action-medium" type="submit"
                        name="create FC buttons">
                    <img src="images/IconPlus.png" alt="Créer un service">
                    <span>Créer un service</span>
                </button>
                <button disabled ng-if="role =='Admin de collectivité' && !showButton" ng-show="!showButton"
                        ui-sref="new_Service" class="btn-action-principale-gris btn-action-medium" type="submit"
                        name="create FC buttons">
                    <img src="images/IconPlus.png" alt="Créer un Service">
                    <span>Créer un service</span>
                </button>

            </div>
        </div>
        <br>
        <div class="col-md-12" style="margin-top : 10px;" ng-show="!showButton">
			<span class="text-create-btn2">
				Vous devez d'abord créer votre compte Fournisseur de Services sur le site France Connect : <a href="https://partenaires.franceconnect.gouv.fr">https://partenaires.franceconnect.gouv.fr</a>.
				<br>Contactez-nous si vous avez besoin d’assistance.
			</span>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 bg-danger" ng-if='error'>
                <br>
                <p class="text-center text-danger">
                    {{msg}}
                </p>
                <br>
            </div>
            <div class="col-md-5 pull-right">
                <form class="form-inline">
                    <div class="form-group filter pull-right">
                        <button type="button" class="btn btn-success" ng-click="generateCSV()">Exporter les statistiques</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 pull-right">
                <form class="form-inline">
                    <div class="form-group filter pull-right">
                        <label for="filter" class="text-filter">Filtrer par type de service:</label>
                        <select class="form-control choix" ng-change="getStatisticsFilter()" id="filter" ng-model="filterName">
                            <option value="tous" selected>Tous</option>
                            <option ng-repeat="service in services" value="{{service.name}}">{{service.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="total-info info-statc d">
                <div class="nomBouton">DEMANDES DE LA SEMAINE</div>
                <p class="border_me3"></p>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="nomRubrique"> TOTAL</div>
                        <div class="nb cell">{{all.weeklyState}}</div>
                    </div>
                </div>
            </div>
            <div class="total-info info-statc d">
                <div class="nomBouton">DEMANDES DE CE JOUR</div>
                <p class="border_me3"></p>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="nomRubrique"> TOTAL</div>
                        <div class="nb cell">{{all.dailyState}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding: 0%;">
                <div class="col-md-5 info-statc" ng-repeat="x in data" style="margin-right:2%;">
                    <p class="nomBouton" style="margin-left: 26px">{{x.name | uppercase}}</p>
                    <p class="border_me3"></p>
                    <table cellpadding=100 style="margin-left: 30px; width: 100% ">
                        <tr>
                            <td class="nomRubrique" id="total">
                                TOTAL
                            </td>
                            <td class="nomRubrique" id="semaine">
                                CETTE SEMAINE
                            </td>
                            <td class="nomRubrique" id="aujd">
                                AUJOURD'HUI
                            </td>
                        </tr>
                        <tr>
                            <td class="nb" id="total_nb" ng-bind="x.totalState ? x.totalState : 0"
                                style="padding-top: 15px;">
                            </td>
                            <td class="nb" id="total_semaine" ng-bind="x.weeklyState ? x.weeklyState : 0"
                                style="padding-top: 15px;">
                            </td>
                            <td class="nb" id="total_aujd" ng-bind="x.dailyState ? x.dailyState : 0"
                                style="padding-top: 15px;">
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

    </body>
</html>