<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3" ng-show="loading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <div class="row" ng-show="!loading">
           <h1 class="hidden">I-CLEFS</h1>
        <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">
            <div class="col-md-12 info-statc">
                <div class="col-md-12">
                    <label class="text1">
                        <div style="text-align: center">Remplissez le formulaire et cliquez sur
                            <span>
                                <b >Créer le service.</b>
                            </span> Cliquez sur <b>Annuler</b> pour revenir à la liste des services France Connect déjà créée.
                        </div>
                    </label>
                </div>
                <div class="col-md-12" ng-if="emptyName">
                        <div style="text-align: center" class="alert-danger" >
                        	Le nom du service est obligatoire !
                        </div>
                </div>

                <div class="col-md-12 service-name">
                    <div class="col-md-3" ><label for="new-service-name">NOUVEAU SERVICE : * </label></div>
                    <div class="col-md-4">
                        <input type="text" class="input" ng-model="mychoice.name" placeholder="Nom du service" title="Nom du service" name="" id="new-service-name" value="" />
                        <div class="border_me2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="data-ch">
                        DONNEES FRANCE CONNECT
                    </div>
                    <div class="chek">
                        <div layout="row" layout-wrap flex>
                            <div ng-repeat="france_connect_item in france_connect_items">
                                <md-checkbox ng-model="mychoice.data[france_connect_item.id]"  class="md-raised md-primary opt" disabled="true" title="Nom France Conect">
                                    {{france_connect_item.name}}
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                    <md-divider class="brd"></md-divider>
                </div>
                <div class="row">
                    <div class="data-ch">
                        INFORMATIONS SUR L'USAGER : DIRECTION GENERALE DES FINANCES PUBLIQUES
                    </div>
                    <div class="chek">
                        <div layout="col-md-12" layout-wrap flex>
                            <div flex="50" ng-repeat="item in items">
                                <md-checkbox md-no-ink  ng-model="mychoice.data[item.id]" class="md-primary opt" title="Type Service">
                                    {{ item.name }}
                                </md-checkbox>
                                <br>
                                <b class="ipsum cmnt">{{item.content}}</b>
                            </div>
                        </div>
                    </div>
                    <md-divider class="brd"></md-divider>
                </div>
                <div class="row">
                    <div class="data-ch">
                        INFORMATIONS SUR L'USAGER : CAISSE D'ALLOCATION  FAMILIALES
                    </div>
                    <div class="chek">
                        <div layout="col-md-12" layout-wrap flex>
                            <div flex="50" ng-repeat="caf in cafs">
                                <md-checkbox md-no-ink ng-model="mychoice.data[caf.id]" class="md-primary opt">
                                    {{ caf.name}}
                                </md-checkbox>
                                <br>
                                <b class="ipsum cmnt">{{caf.content}}</b>
                            </div>
                        </div>
                    </div>
                    <md-divider class="brd"></md-divider>
                </div>
                <div class="row">
                    <div class="data-ch">
                        Informations Complémentaires
                    </div>
                    <div class="chek">
                        <div class="col-md-3">
                            <input type="text" inputRestrictor class="input dnP" title="Ajouter une donnée" placeholder="Ajouter une Donnée" ng-change="validateModel()"  ng-keypress="validate($event)" ng-model="field.name"/>
                            <div class="border_me2"></div>
                        </div>
                        <div class="col-md-3">
                            <select id="slctTp" class="form-control" title="Type Donnée" ng-model="field._type">
                                <option value="" disabled selected>Type de donnée</option>
                                <option value="Fichier Joint">Fichier Joint</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <md-checkbox class="md-primary opt" ng-model="field.isRequired">Obligatoire</md-checkbox>
                        </div>
                        <div class="col-md-2">
                            <button ng-click="addField(field)" type="button" class="btn-action-principale-gris btn-action-medium">Ajouter</button>
                        </div>
                        <div class="col-md-2">
                            <div class="error-msg" ng-if="emptyField">
                                <span class="glyphicon glyphicon-warning-sign"></span>
                                <span>Remplir les champs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fields">
                        <table class="table table-striped">
                            <tr ng-repeat="f in fields track by $index">
                                <td class="cell1">{{f.name}}</td>
                                <td class="cell2">{{f._type}}</td>
                                <td class="cell3">{{f.isRequired}}</td>
                                <td><span class="glyphicon glyphicon-remove-circle" ng-click="removeFields(f)"></span> </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!---Modal and lancher---->
                <div class="row">
                    <div class="col-md-2 chek">
                        <!-- Large modal -->
                        <button type="button" class="btn-action-principale-gris btn-action-medium" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span> Modifier courriels types</span>
                        </button>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <p class="modal-title" id="myModalLabel"> Modifier courriel</p>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <script type="text/ng-template" id="alert.html">
                                                <div ng-transclude></div>
                                            </script>
                                            <div uib-alert template-url="alert.html" class="bg-warning" style="color: #222222;">
                                                <p>Vous pouvez insérer des variables comme suit:</p>
                                                <p> %nomComplet% : pour insérer le nom et le prénom du demandeur</p>
                                                <p> %nomCollectivite% : pour insérer le nom de la Colléctivité</p>
                                                <p> %nomService% : pour insérer le nom du Service</p>
                                                <p> %numDossier% : pour insérer le numéro du Dossier</p>
                                            </div>
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="bg-success alert-div" ng-if="addSuccessfully">
                                                    <span class="su">Bien Modifié</span>
                                                </div>
                                                <div class="bg-danger alert-div" ng-if="mailExist">
                                                    <span class="err">L'adresse email existe déjà</span>
                                                </div>
                                                <div class="bg-danger alert-div" ng-if="emptyMail">
                                                    <span class="err">Remplir tous les champs</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" style="margin-bottom: 10px; margin-top: 10px;">

                                            <div class="col-md-12" style="margin-bottom: 3%; margin-top: 2%;">
                                                <div class="col-md-4"><label >Choisir le type de message:</label> </div>
                                                <div class="col-md-8">
                                                    <select title="Type Message" name="mySelect" id="mySelect"
                                                            ng-model="mail._type"
                                                            class="form-control"
                                                            ng-change="getMail(this.mail)">
                                                        <option value="demande">Accusé de réception</option>
                                                        <option value="acceptation">Acceptation de la demande</option>
                                                        <option value="refus">Refus de la demande</option>
                                                    </select>
                                                </div>
                                                <span ng-show="form_mail.select_type.$dirty && form_mail.select_type.$invalid">choisir un type</span>
                                            </div>

                                            <div class="col-md-12 ">
                                                <div class="col-md-4">	<label>Sujet : </label></div>
                                                <div class="col-md-8">
                                                    <input type="text" title="Sujet" class="form-control" ng-model="mail.subject" required>
                                                </div>

                                            </div>


                                        </div>
                                        <div text-angular ng-model="mail.body"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                                        <button ng-click="saveMail(mail)" class="btn btn-primary"> SAUVEGARDER</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------end Modal------>
                <div class="row">
                    <div class="btnCntrl">
                        <div class="col-md-3">
                            <button class="btn-action-principale-rouge btn-action-grand" ng-click="addButtonFunc(mychoice)">CRÉER LE SERVICE </button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn-action-grand btn-action-principale-gris" ng-click="cancelService()">ANNULER</button>
                        </div>
                    </div>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>