<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container"  id="login-page">
    <!--logos-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 zone-white">
            <div class="text-center">
                <img id="FC-logo" src="images/addulact.png" alt="" >
                <img id="FC-logo" src="images/FranceConnect.png" alt="" >
            </div>

        </div>
    </div>
    <!--end logos-->
    <!-- welcome text-->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">
                <span class="welcome-text" aria-level="1" role="heading">
                    Bienvenue sur i-CLEFS (ALPHA)
                </span> <br>
                <span class="chld-welcome">
                    Simplifiez les démarches de vos administrés avec France Connect
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2" >

    </div>
    <!--end welcome text-->
    <br><br>
    <!--from-->
    <form name="myForm_pwd" >
        <div class="col-md-8 col-md-offset-2">
            <div class="bg-danger msg-red" ng-show="emailNotExist">
                Cette adresse email n'est pas associée à un compte i-CLEFS.
            </div>
            <div class="bg-success msg-green" ng-show="emailExist">
                Un lien vous sera communiqué pour réinitialiser votre mot de passe.
                <br>
                Veuillez vérifier votre boîte de réception et cliquez sur le lien sécurisé.
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 zone-white  shadow-zone">
                <br>
                <p class="text-center">
                <span class="connection-text">
                    Connexion
                </span>
                </p>
                <div class="border_me br-login"></div>
                <div class="input-login">
                    <div class="col-md-8 col-md-offset-2">
                        <input class="input2" type="email" placeholder="Adresse e-mail" ng-model="email_pwd" required="" title="email" id="email-id">
                        <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <input ng-click="send_pwd()" class="co_button button_hover" type="submit" name="send_email"  value="ENVOYER" ng-disabled="myForm_pwd.$invalid"  style="width: 90%; height: 45px; color: #ffffff; font-size: 10pt; margin-top: 12%;  border-radius: 8px;">
                        </br></br>
                    </div>
                </div>
                <div style="text-align: center">
                	<a ng-click="goToLoginPage()" href="#">
                        <span style="color:#00A3F7" title="Cliquer pour se connecter" >Connectez-vous</span>
                    </a>
                </div>
                <br>
            </div>
            <div class="col-md-8 col-md-offset-2 foot">
                <span class="text">Développé avec la Plateforme</span>
                <span class="text-link"><a target="_blank" title="Cliquer pour visiter le site de Wakanda" href="http://wakanda.github.io/">Wakanda</a></span>
            </div>
        </div>
    </form>
    <!--end form-->
</div>
</body>
</html>