.date_button {
 background-image: linear-gradient(-180deg, #39B54A 0%, #34AA44 98%);
border: 1px solid #249533;
border-radius: 4px;
}

.add_button {
	border: none;
    background-color: #A63950;
    background-image: linear-gradient(-1deg, #A63950  2%, #D13959 97%);
    border: 1px solid #A63950;
    border-radius:25px 25px 25px 25px;
    color: #ffffff;
}

.height {
    background: #F4F7F9;
    box-shadow: 0px -1px 0px 0px #E6EAEE;
    border: 1px solid #E6EAEE;
    height: 64px;
    display: block;
    margin-top: 2%;
}

#fatCadre {
    background: #FFFFFF;
    border: 1px solid #E6EAEE;
    border-radius: 6px;
    display: block;
    /*width: 520px;*/
    height: 174px;
    margin-left: 4%;
}

.nomBouton {
    font-family: SourceSansPro-Semibold;
    font-size: 13px;
    color: #7F8FA4;
    margin-top: 28px;
}

.nomRubrique {
    font-family: SourceSansPro-Semibold;
    font-size: 12px;
    color: #7F8FA4;
}

.nb {
    font-family: SourceSansPro-Semibold;
    font-size: 36px;
    color: #1D2531;
}

.border_me {
	border-color: #DADBDD;
	border-width: 1px;
  	border-style: solid;
	font-size: 1px;
  	margin-right: 12px;
  	margin-left: 12px;
}

.red {
    background: red;
 }  

.green {
    background: green
 }  

 .red, .green {
    margin-right:10px;
    margin-bottom:20px
 }

 @font-face {
     font-family: SourceSansPro-Semibold;
     src: url('SourceSansPro-Semibold.ttf') format('truetype')
 }
 body {
     font-family: SourceSansPro-Semibold;
 }

 .div_min {
     min-height:100%;
 }

 .text {
     font-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #7F8FA4;
 }

 .service_button {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    width: 165px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    height: 36px;
    -webkit-appearance: none;
   }

   .search {
       display: block;
       width: 270px;
       float: right;
        padding-top: 2px;
        padding-left: 0;
        height: 34px;
        color: #111;
        vertical-align: middle;
        font-size: 14px;
        line-height: 16px;
        box-shadow: none;
        text-align: left;
   }

summary::-webkit-details-marker {
    transform: rotate(90deg);
}

details[open] summary::-webkit-details-marker {
    transform: rotate(180deg);
}

.agg {
    background: #ffffff;
}

.tab_cache {
    border-collapse: separate;
    border-spacing: 50px 8px;
}

.titre_table_cache {
    font-family: SourceSansPro-Semibold;
    font-size: 14px;
    color: #1D2531;
}

.content_table_cache {
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #7F8FA4;
    vertical-align: top;    
}

ul{
    list-style-type: none;
    padding-left: 0px;
    text-align: top;
}

.modifier {
    background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    width: 97px;
    height: 36px;
}


#refresh {
    background: #F4F7F9;
    padding-bottom: 44%;
}

summary:focus {
    outline: none;
}

summary::-webkit-details-marker {
    float: right;
    margin-right: 20px;
    color: #A2A8B0;
}