<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container-fluid">

    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">
        <div class="row head">
            <div class="col-md-4 col-md-offset-8">
                <div class="search-coll">
                    <input type="text" class="form-control" title="Nom connecltivité" placeholder="NOM DE COLLECTIVITÉ" data-ng-model="item.name" list="comicstitle">
                    <button class="btn btn-primary btn-search" ng-click="detail()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <datalist id="comicstitle" title="Collectivités" >
                        <option data-ng-repeat="community in communitysActive" value="{{community.name}}">
                    </datalist>
                </div>
                <div class='msg-block text-center' ng-if="collectivityNotFound">
					  <span class="warning-msg">
					    Collectivité n'existe pas.
					  </span>
                </div>
            </div>
        </div>
        <div class="row demandes">
            <div class="demande" ng-repeat="community in communitys">
                <div class="row"  ng-click="val = !val">
                    <div class="info">
                        <div class="col-md-6">
                            <table class="table-presentation" role="presentation">
                                <caption class="hidden">Données Collectivité</caption>
                                <tr>
                                    <td>
                                        <span class="meta-data">Collectivité</span><br>
                                        <span class="data" >{{community.name}}</span>
                                    </td>
                                    <td>
                                        <span class="meta-data">Code Postal</span><br>
                                        <span class="data">{{community.zipCode}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table-presentation" role="presentation">
                                <caption class="hidden">Données Collectivité</caption>
                                <tr>
                                    <td>
                                        <span class="meta-data">CNIL</span><br>
                                        <span class="data">{{community.CNIL}}</span>
                                    </td>
                                    <td>
                                        <span class="meta-data">Etat</span><br>
                                        <span class="data"><img src="images/Red.png" alt="inactive"></span>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-triangle-bottom" ng-show="!val"></span>
                                        <span class="glyphicon glyphicon-triangle-top" ng-show="val"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id='ID_{{community.ID}}' ng-show="val">
                    <div class="row">
                        <div class="col-md-10 border-separator"></div>
                    </div>
                    <div class="row">
                        <div class="info">
                            <div class="col-md-6">
                                <table class="table-presentation" role="presentation">
                                    <caption class="hidden">Données Collectivité</caption>
                                    <tr>
                                        <td>
                                            <span class="meta-data">Demandeur </span><br>
                                            <span class="data">{{community.accountCollection[0].fullName}}</span>
                                        </td>
                                        <td>
                                            <span class="meta-data">Adresse mail</span><br>
                                            <span class="data">{{community.accountCollection[0].userName}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table-presentation" role="presentation">
                                    <caption class="hidden">Données Collectivité</caption>
                                    <tr>
                                        <td>
                                            <span class="meta-data">Date demande</span><br>
                                            <span class="data">{{community.accountCollection[0].subDate | date : "dd/MM/yyyy"}}</span>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="col-md-12 ">
                                <div class="col-md-3">
                                    <button class="btn-action-secondaire-bleu btn-action-medium" ng-click="valider(community.accountCollection[0],community)">
                                        Valider la demande
                                    </button>
                                </div>
                                <div class="col-md-3 col-md-offset-6">
                                    <button class="btn-action-secondaire-gris btn-action-medium" ng-click="refuser(community.accountCollection[0],community)">
                                        Refuser la demande
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>