<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">
            <br>
            <div class="col-md-12">
                <div class="col-md-5 info-statc">
                    <div>
                        <p class="nomBouton"  >Demandes de création de collectivités</p>
                        <p class="border_me3" ></p>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="nomRubrique"> TOTAL </div>
                                <div class="nb cell">{{totaleDemande}}</div>
                            </div>
                            <div class="col-md-5">
                                <div class="nomRubrique"> CETTE SEMAINE </div>
                                <div class="nb cell">{{demandeSemain}}</div>
                            </div>
                            <div class="col-md-4">
                                <div class="nomRubrique"> AUJOURD'HUI </div>
                                <div class="nb cell">{{demandeJour}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 info-statc">
                    <div>
                        <p class="nomBouton">Nombre d'utilisateurs d'I-clefs</p>
                        <p class="border_me3" ></p>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="nomRubrique"> TOTAL </div>
                                <div class="nb cell">{{totaleUsers}}</div>
                            </div>
                            <div class="col-md-5">
                                <div class="nomRubrique"> ADMINISTRATEURS</div>
                                <div class="nb cell">{{userAdmin}}</div>
                            </div>
                            <div class="col-md-4">
                                <div class="nomRubrique"> AGENTS </div>
                                <div class="nb cell">{{userAgent}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 info-statc">
                    <div>
                        <p class="nomBouton">Synthèse d'utilisation</p>
                        <p class="border_me3" ></p>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="nomRubrique" id="total"> NOMBRE DE COLLECTIVITÉS </div>
                                <div class="nb cell" id="total-nb">{{totaleCollectivity}}</div>
                            </div>
                            <div class="col-md-5">
                                <div class="nomRubrique" id="semaine"> NOMBRE DE SERVICES </div>
                                <div class="nb cell" id="total-semaine">{{totaleService}}</div>
                            </div>
                            <div class="col-md-4">
                                <div class="nomRubrique" id="aujd"> NOMBRE D'UTILISATION DES SERVICES </div>
                                <div class="nb cell" id="total-aujd">{{totaleTicket}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
