<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container-fluid">

    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">
        <div class="row">
            <div class="detail-collectivity">
                <div class="col-md-4">
                    <span class="presentation-col">Collectivité:</span>
                    <span class="presentation-name" >{{community.name}}</span><br>
                    <span class="presentation-info">ZipCode:</span>
                    <span class="info">{{community.zipCode}}</span><br>
                    <span class="presentation-info">CNIL</span>
                    <span class="info">{{community.NCIL}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="info-zone">
                <div class="border-btm">
                    <span>Compte associé</span>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <table class="table" role="presentation">
                        <caption class="hidden">Données Compte Admin</caption>
                        <tr>
                            <td><span class="t">Nom</span></td>
                            <td><span class="t">Email</span></td>
                            <td><span class="t">Date De Création</span></td>
                            <td><span class="t">Rôle</span></td>
                        </tr>
                        <tr ng-repeat="account in accounts">
                            <td>{{account.fullName}}</td>
                            <td>{{account.userName}}</td>
                            <td>{{account.subDate | date : "dd/MM/yyyy"}}</td>
                            <td>{{account.role.tab[0]}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="info-zone">
                <div class="border-btm">
                    <span>Services de collectivité</span>
                </div>
                <div class="demandes">
                    <div class="demande" ng-repeat="service in services">
                        <div class="row" ng-click="hdn = !hdn">
                            <div class="info">
                                <div class="col-md-6">
                                    <table class="table-presentation" role="presentation">
                                        <caption class="hidden">Services de la collectivité</caption>
                                        <tr>
                                            <td>
                                                <span class="meta-data">Service</span><br>
                                                <span class="data">{{service.name}}</span>
                                            </td>
                                            <td>
                                                <span class="meta-data">Date de création</span><br>
                                                <span class="data">{{service.creationDate | date : "dd/MM/yyyy"}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table-presentation" role="presentation">
                                        <caption class="hidden">Données Collectivité</caption>
                                        <tr>
                                            <td>
                                                <span class="meta-data">État</span><br>
                                                <span class="data"><img src="images/Red.png" ng-if="!service.status" alt="Active"></span>
                                                <span class="data"><img src="images/Green.png" ng-if="service.status" alt="Inactive"></span>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-triangle-bottom" ng-show="!hdn"></span>
                                                <span class="glyphicon glyphicon-triangle-top" ng-show="hdn"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="hdn">
                            <div class="row" >
                                <div class="col-md-10 border-separator"></div>
                            </div>
                            <div class="row">
                                <div class="info">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <span class="meta-data">Données du service</span>
                                        </div>
                                    </div>
                                    <div class="row service-data">
                                        <div ng-if="data != 'none'" class="col-md-4" ng-repeat="data in service.data.tab track by $index">
                                            <span class="glyphicon glyphicon-asterisk"></span><span class="data">{{data}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>