<!DOCTYPE html>
<html lang="fr" class="no-js" ng-app="starter" ng-class="{loginPage : accountPage}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I-CLEFS</title>
    <!-- vendor css -->
    <link rel="stylesheet" href="../assets/libs/bootstrap-css/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">


    <!-- your app css -->
    <link href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link href="../assets/Templates/css/fonts_googleapis.css" rel="stylesheet">

    <!-- Include Font Awesome. -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--- textAngular --->
    <link rel='stylesheet' href='../bower_components/textAngular/dist/textAngular.css'>


</head>
<body ng-style="accountPage && {'background-color': '#eff3f6'}" class="ng-scope globale" ng-class="{loginPage : accountPage}" >
<sidebar ng-if="!accountPage" ng-cloak></sidebar>
<topbar ng-if="!accountPage" ng-cloak></topbar>
<div ng-class="{page: !accountPage}" ui-view>
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- vendor js -->
<!--<script src="../assets/libs/angular/angular.js"></script>-->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../assets/libs/angular-wakanda/angular-wakanda.min.js"></script>
<!--<script src="../assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>-->
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../assets/libs/angular-qrcode/angular-qrcode.js"></script>
<script src="../assets/libs/angular-qrcode/qrcode.js"></script>
<script src="../assets/Templates/js/clipboard.min.js"></script>

<!-- angular-sanitize -->
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

<script src="../assets/Templates/js/jquery.min.js"></script>
<script src="../assets/Templates/js/bootstrap.min.js"></script>



<script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!--- fds- -->
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<!--- pdfMake --->
<script src="../bower_components/pdfmake/build/pdfmake.js"></script>
<script src="../bower_components/pdfmake/build/vfs_fonts.js"></script>
<!--- html2canvas --->
<script src="../bower_components/html2canvas/build/html2canvas.js"></script>
<!--- textAngular --->
<script src='../bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='../bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='../bower_components/textAngular/dist/textAngular.min.js'></script>
<script src='../bower_components/file-saver.js/FileSaver.js'></script>
<!-- Services -->


<!-- your app js -->
<script src="app.js"></script>

<script src="directives/sidebar/directive.sidebar.js"></script>
<script src="directives/topbar/directive.topbar.js"></script>
<script src="directives/pwdCheck/directive.pwdCheck.js"></script>
<script src="directives/confirmModal/modalService.js"></script>


<script src="account/forgotPassword/account.forgotPassword.controller.js"></script>
<script src="account/resetPassword/account.resetPassword.controller.js"></script>
<script src="account/signin/account.signin.controller.js"></script>
<script src="account/signup/account.signup.controller.js"></script>
<script src="account/update/account.update.controller.js"></script>

<script src="administration/statistics/administration.statistics.controller.js"></script>
<script src="administration/services/administration.services.controller.js"></script>
<script src="administration/services/newService/services.newService.controller.js"></script>
<script src="administration/services/serviceInactive/service.serviceInactive.controller.js"></script>
<script src="administration/services/errorService/services.errorService.controller.js"></script>
<script src="administration/requests/administration.requests.controller.js"></script>
<script src="administration/collectivity/administration.collectivity.js"></script>
<script src="administration/collectivity/callbackPage/collectivity.callbackPage.controller.js"></script>
<script src="administration/userManagement/administration.userManagement.controller.js"></script>
<script src="administration/userManagement/addUser/administration.addUser.controller.js"></script>

<script src="superAdmin/globalStatistics/superAdmin.globalStatistics.controller.js"></script>
<script src="superAdmin/requests/superAdmin.requests.controller.js"></script>
<script src="superAdmin/account/superAdmin.account.controller.js"></script>
<script src="superAdmin/collectivity/superAdmin.collectivity.controller.js"></script>

<script src="APICall/DGFIP/apiCall.dgfip.controller.js"></script>
<script src="APICall/CAF/apiCall.caf.controller.js"></script>
<script src="APICall/personalisedData/apiCall.personalisedData.controller.js"></script>
<script src="APICall/endRequest/apiCall.endRequest.controller.js"></script>

</body>
</html>
