<div class=" col-md-10 col-md-offset-2 topbar" ng-controller="Myapp">
    <div class="col-md-4 text">
        <h3 role="heading" aria-level="1">{{page || "I-Clefs"}}</h3>
    </div>
    <div class="col-md-4 col-md-offset-4" style="padding-top:1%">
        <img src="images/addulact.png" class="image1" alt="">
        <img src="images/FranceConnect.png" class="image2" alt="">
    </div>
</div>