$light-white: #EEF1F4;

/** Blue **/
$main-blue: #0064AE;
$light-blue: #2D76F8;
$dark-blue: #196DEB;



$green: green;


/** Red **/

$main-red: #A63950;
$light-red: #D13959;


/** Gray **/
$main-gray: #F2F4F7;
$dark-gray: #CED0DA;