.row_class{
  margin-left: 17%;
  }

.warning-msg {
  color : RED ; 
  font-size : 16px
}
body {
  background-color: rgb(239, 243, 246) !important;
}
html {
  background-color: rgb(239, 243, 246) !important;
}