
	.heigh{
		    /*background: #F4F7F9;
		    box-shadow: 0px -1px 0px 0px #E6EAEE;
		    border: 1px solid #E6EAEE;
		    height: 64px;
		    display: block;
   			top: -60px;
   			width: 89%;
            margin-left: 14%;*/
   				
   			.consult_button {
		    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
		    border: 1px solid #1566D8;
		    border-radius: 4px;
		    font-family: SourceSansPro-Semibold;
		    font-size: 14px;
		    color: #FFFFFF;
		    line-height: 19px;
		    width: 100%;
		    height: 36px;
		    margin-top: 12px;
		}
		
		.create_boutons {
		    background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
		    border: 1px solid #A63950;
		    border-radius: 4px;
		    font-family: SourceSansPro-Semibold;
		    font-size: 14px;
		    color: #FFFFFF;
		    line-height: 19px;
		    width: 100%;
		    height: 36px;
		    margin-top: 12px;
		}
		.create_boutons_disabled {
		    border-radius: 4px;
		    font-family: SourceSansPro-Semibold;
		    font-size: 14px;
		    color: #FFFFFF;
		    line-height: 19px;
		    width: 100%;
		    height: 36px;
		    margin-top: 12px;
		}
		.help_button {
			border: none;
		    background-color: #474CFF;
		    background-image: linear-gradient(0deg, #F2F4F7  2%, #FFFFFF 100%);
		    border: 1px solid #1566D8;
		    border-radius:25px 25px 25px 25px;
		    color: #354052;
		    border: 1px solid #CED0DA;
		    width: 93px; 
		    height: 36px; 
		    border-radius: 4px; 
		    float: right; 
		    margin-right: 3%; 
		    margin-top: 12px;
		}
		}