/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


.shadow-zone{
  box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
  border-radius: 6px;
}
.connection-text{
  margin-bottom: 2%;
  color: #333E54;
  font-family: sans-serif;
  font-size: 170%
}
.zone-white{
  background-color: white;
}

.chld-welcome{
  color: #333E54;
  font-size: 112%;
}
.welcome-text{
  color: #333E54;
  font-family: sans-serif;
  font-size: 300%;
  font-weight: bold;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

/* modiff
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; //* Scrollable contents if viewport is shorter than content.
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
*/
/* Sidebar navigation */
.nav-sidebar > li > a {
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > li > a.active,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #063A5B;
  background-color: #063A5B;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0;
    padding-left: 0;
  }
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
/*  margin-bottom: 30px; */
  text-align: left;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



/*** Start new style ***/

#refresh{
    margin-top: -20px;
}
.add_button {
	width: 170px; height: 36px; 
	border: none;
    background-color: darkgrey;
    background-image: linear-gradient(-1deg, darkgrey  2%, darkgrey 97%);
    border: 1px solid darkgrey;
    border-radius: 4px;
    horizontal: 2px; margin-right: 45px; 
	margin-top: 16px; margin-left: 3%;
    color: #ffffff;
    	.img{
		width: 8px; height: 8px; margin-right: 1%;
	}
	.font{
		font-size: 14px;    background-color: #063A5B;
	}
}
.msg-block{
	margin-top: 20px; margin-left:50px;
	font-size:20px;
	#span{
		color : RED ; font-size : 16px
	}
	
}
.search {
    display: block;
    width: 270px;
    float: right;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    box-shadow: none;
    text-align: left;
    margin-right: 30px;
    margin-top: 16px; 
   }
.justify{
		margin-top: 20px; margin-left:50px;
}
.div_search{
	background: #F4F7F9; display: block; height: 100%;
	details{
		background: #ffffff; margin-left: 3%; margin-top: 3%; border-left: 4px solid #354052;
		
	}
}
.conteneur {
    background: #ffffff;
    width: 80%;
    box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
    border-radius: 6px;
    margin-left: 10%;
    margin-top: 20px;
}
.texte_create_user {
    font-family: SourceSansPro-Regular;
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.02px;
    margin-top: 30px;
}
.titre_row_compte {
    margin-top: 32px;
    font-family: SourceSansPro-Semibold;
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.12px;
}
.main{
	margin-right: 30px;
	ul{
    	li{
    		margin-top: 30px;
    		.form-control
    			{margin-top: 5%; width: 80%;
    			}
    	}
    }
}
.class_button{
	margin-bottom: 30px;
	text-align: center;
	width: 60%;
	margin-left: 20%;
}
.button_main{
	width: 100%;
	margin-bottom: 5%;
	.button_create_user {
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: SourceSansPro-Semibold;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 186px;
    height: 36px;
}
.annuler {
    //margin-left: 35px;
    background-image: linear-gradient(-1deg, #F2F4F7 2%, #FFFFFF 97%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    font-family: SourceSansPro-Semibold;
    font-size: 14.39px;
    color: #354052;
    letter-spacing: 0.12px;
    height: 36px;
    width: 186px;
}
}