<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="">
     <h1 class="hidden">i-clefs</h1>   
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 btn-btn">

        <div class="heigh">
            <div class="row">
                <div class="col-md-3">
                    <button ui-sref="add_user" class="btn-action-principale-gris btn-action-medium" type="submit" name="add">
                        <img src="images/IconPlusGrey.png" class="plus" alt="Créer un utilisateur">
                        Créer un utilisateur
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 bg-danger" ng-if='error'>
                <br>
                <p class="text-center text-danger">
                    {{msg}}
                </p>
                <br>
            </div>
            <div class="col-md-5 pull-right">
                <form class="form-inline">
                    <div class="form-group filter pull-right">
                        <button type="button" class="btn btn-success" ng-click="generateCSV()">Exporter les agents</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="bg-success alert-div" ng-if='created'>
				<span class="su">
					Vous venez de créer un utilisateur, un email lui sera envoyé dans les plus brefs délais.
				</span>
            </div>
            <div col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3>
                <div class="row demandes">
                    <div class="demande" ng-repeat="x in data">
                        <div class="row" ng-click="ok = !ok">
                            <div class="info">
                                <table class="table-presentation">
                                    <tr>
                                        <td>
                                            <img ng-if="x.status" alt="Validé" src="images/Green.png" style="margin-right: 13px;">
                                            <img ng-if="!x.status" alt="Attente" src="images/Red.png" style="margin-right: 13px;">
                                            <span class="text-conf">{{x.fullName}}</span>
                                        </td>
                                        <td>
                                            <span class="text-conf">État</span><br>
                                            <span ng-if="x.status" class="act text-conf">Actif</span>
                                            <span ng-if="!x.status" class="inact text-conf">Inactif</span>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-triangle-bottom z" ng-show="!ok"></span>
                                            <span class="glyphicon glyphicon-triangle-top z" ng-show="ok"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-show="ok">
                            <div class="row">
                                <div class="col-md-10 border-separator"></div>
                            </div>
                            <div class="row">
                                <div class="info">
                                    <div class="col-md-3">
                                        <table class="table-presentation">
                                            <tr>
                                                <td>
                                                    <span class="meta-data">NOM</span>
                                                </td>
                                                <td>
                                                    <span class="data">{{x.fullName}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="meta-data">EMAIL</span>
                                                </td>
                                                <td>
                                                    <span class="data">{{x.userName}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="meta-data">ROLE</span>
                                                </td>
                                                <td>
                                                    <span class="data">{{x.role.tab[0]}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" ng-click="switchStatu(x.$_entity)" class="btn-action-secondaire-gris btn-action-medium" id="activer_desactiver_boutons">
                                        <span ng-if="!x.status" class="act">Activer</span>
                                        <span ng-if="x.status" class="inact">Désactiver</span>
                                    </button>
                                </div>
                                <div class="col-md-2 col-md-offset-8">
                                    <button ng-click="deleteIteme(x.$_entity)" class="btn-action-secondaire-gris btn-action-medium">
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
</html>