
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <br><br>
            <div class="form-box frm-padd">
                <div class="col-md-10">
                     <span class="txt" aria-level="1" role="heading">
                         Modifier mes informations
                     </span>
                    <div class="border_me4 b ti"></div>
                </div>
                <div class="col-md-8">
                    <div class="bg-success alert-div" ng-if='updated'>
                        <span class="su">
						    Les informations de votre collectivité ont été modifiées.
                        </span>
                    </div>
                    <div class="bg-danger alert-div" ng-if='error'>
                      <span class="err">
						    Une erreur s'est produite lors de l'enregistrement des informations.
                      </span>
                    </div>
                </div>
                <form>
                    <div class="form-group wd">
                        <label for="input_nom">&nbsp;NOM</label><br>
                        <input class="input-col input" title="Nom" id="input_nom" type="text" value="{{user.lastName}}" disabled>
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <label for="input_prenom">&nbsp;PRÉNOM</label><br>
                        <input class="input-col input" title="Prenom" id="input_prenom" type="text" value="{{user.firstName}}" disabled>
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <label for="input_email">&nbsp;ADRESSE E-MAIL</label><br>
                        <input class="input-col input" title="Email" id="input_email" type="text" value="{{user.userName}}" disabled>
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <input class="input-col input" title="Ancien mot de passe" id="input_old_password" type="password" placeholder="Ancien mot de passe" ng-model="user.old">
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <input class="input-col input" title="nouveau mot de passe" id="input_new_password" type="password" placeholder="Nouveau mot de passe" ng-model="user.newPassword">
                        <div class="border_me4 b"></div>
                    </div>
                    <div id="refresh1" class="form-group btn-width">
                        <div class="col-md-6">
                            <button class="btn-action-principale-bleu btn-action-grand" ng-click="SaveUserInfo(user)">
                                ENREGISTRER
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn-action-principale-gris btn-action-grand" ng-click="Cancel()">
                                ANNULER
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    </body>
</html>