/** Functions and variables **/
/** Blue **/
/** Red **/
/** Gray **/
/** Partials **/
/* line 1, ../sass/partials/_buttons.scss */
.btn-action-principale-bleu {
  background-color: #2D76F8;
  border: 1px solid #1566D8;
  color: #ffffff;
  border-radius: 5px;
}
/* line 6, ../sass/partials/_buttons.scss */
.btn-action-principale-bleu:hover {
  background-color: #196DEB;
}

/* line 11, ../sass/partials/_buttons.scss */
.btn-action-principale-gris {
  background-color: #F2F4F7;
  border: 1px solid #CED0DA;
  border-radius: 5px;
  letter-spacing: 0.12px;
}
/* line 16, ../sass/partials/_buttons.scss */
.btn-action-principale-gris:hover {
  background-color: #CED0DA;
}

/* line 20, ../sass/partials/_buttons.scss */
.btn-action-secondaire-gris {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 5px;
  letter-spacing: 0.12px;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 28, ../sass/partials/_buttons.scss */
.btn-action-grand {
  width: 100%;
  height: 45px;
}

/* line 32, ../sass/partials/_buttons.scss */
.btn-action-medium {
  padding: 10px 30px;
}

/* line 35, ../sass/partials/_buttons.scss */
.btn-action-principale-rouge {
  background-color: #D13959;
  border: 1px solid #A63950;
  color: #ffffff;
  border-radius: 5px;
}
/* line 40, ../sass/partials/_buttons.scss */
.btn-action-principale-rouge:hover {
  background-color: #A63950;
}

/* line 44, ../sass/partials/_buttons.scss */
.btn-action-secondaire-bleu {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 1, ../sass/partials/_menu.scss */
#sidebar {
  background: #0064AE;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: left;
  top: 0;
  width: 20%;
  z-index: 10000;
}

/* line 16, ../sass/partials/_menu.scss */
#sidebar .inner {
  margin-top: -5%;
  line-height: 3em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: block;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
  width: 100%;
}

/* line 43, ../sass/partials/_menu.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1%;
  height: 1%;
}

/* line 52, ../sass/partials/_menu.scss */
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 57, ../sass/partials/_menu.scss */
.sidebar {
  padding: 0;
  background: #0064AE;
}
/* line 60, ../sass/partials/_menu.scss */
.sidebar .sidebar-header {
  background: #1B2433;
  width: 100%;
  height: 80px;
}
/* line 66, ../sass/partials/_menu.scss */
.sidebar .info {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 57, ../sass/partials/_menu.scss */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
  /* line 71, ../sass/partials/_menu.scss */
  .sidebar .menu-icon {
    display: none;
    background-color: #ff0000;
  }
  /* line 75, ../sass/partials/_menu.scss */
  .sidebar .info {
    padding: 20px;
  }
  /* line 89, ../sass/partials/_menu.scss */
  .sidebar .menu-icon {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 57, ../sass/partials/_menu.scss */
  .sidebar {
    padding: 0% 3% 0% 9%;
  }
  /* line 97, ../sass/partials/_menu.scss */
  .sidebar .row {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* line 101, ../sass/partials/_menu.scss */
  .sidebar .sidebar-header {
    background: #1B2433;
    width: 113%;
    height: 80px;
    margin-left: -10%;
  }
  /* line 106, ../sass/partials/_menu.scss */
  .sidebar .sidebar-header .info {
    margin: -31px 0px 0px 81px;
    font-size: 111%;
  }
  /* line 112, ../sass/partials/_menu.scss */
  .sidebar .menu-icon {
    color: white;
    font-size: 246%;
    margin: 3% 0% 0% 3%;
  }
  /* line 117, ../sass/partials/_menu.scss */
  .sidebar .nav-sidebar {
    display: none;
  }
  /* line 121, ../sass/partials/_menu.scss */
  .sidebar .nav li {
    position: relative;
    display: block;
    width: 97%;
  }
}

/* line 130, ../sass/partials/_menu.scss */
.connexion-btn {
  width: 40%;
  height: 45px;
  color: #ffffff;
  font-size: 10pt;
  margin-top: 12%;
}

/* line 137, ../sass/partials/_menu.scss */
.img-logo {
  width: 100%;
}

/* line 140, ../sass/partials/_menu.scss */
.request-title {
  font-family: sans-serif;
}

/* line 143, ../sass/partials/_menu.scss */
.base {
  /* background-color: #EFF3F6;
   box-shadow: 0px -1px 0px 0px #E6EAEE;
   border-top: 3px solid #E6EAEE;*/
}
/* line 147, ../sass/partials/_menu.scss */
.base .head {
  padding-top: 18px;
}
/* line 150, ../sass/partials/_menu.scss */
.base .d {
  margin-right: 2%;
  width: 19.8%;
  height: 140px;
  padding-left: 8px;
  float: left;
}
/* line 157, ../sass/partials/_menu.scss */
.base .info-statc {
  background: #FFFFFF;
  border: 1px solid #E6EAEE;
  border-radius: 6px;
  margin-bottom: 2%;
}
/* line 162, ../sass/partials/_menu.scss */
.base .info-statc .table-cell {
  width: 100%;
}
/* line 164, ../sass/partials/_menu.scss */
.base .info-statc .table-cell .cell {
  padding-top: 15px;
}
/* line 168, ../sass/partials/_menu.scss */
.base .info-statc .text1 {
  font-family: SourceSansPro-Regular;
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.02px;
  margin-top: 25px;
}
/* line 174, ../sass/partials/_menu.scss */
.base .info-statc .text1 span {
  color: #D13959;
}
/* line 178, ../sass/partials/_menu.scss */
.base .info-statc .service-name {
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 181, ../sass/partials/_menu.scss */
.base .info-statc .service-name input {
  color: black;
  width: 94%;
  margin-left: 12px;
}
/* line 187, ../sass/partials/_menu.scss */
.base .info-statc .data-ch {
  font-family: SourceSansPro-Semibold;
  font-size: 14.39px;
  color: #1D2531;
  letter-spacing: 0.12px;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 195, ../sass/partials/_menu.scss */
.base .info-statc .chek {
  margin-left: 34px;
}
/* line 197, ../sass/partials/_menu.scss */
.base .info-statc .chek .opt {
  font-size: 17px;
  font-weight: bold;
}
/* line 201, ../sass/partials/_menu.scss */
.base .info-statc .chek .cmnt {
  color: saddlebrown;
  font-weight: 100;
}
/* line 205, ../sass/partials/_menu.scss */
.base .info-statc .chek .dnP {
  color: black;
  width: 94%;
  margin-left: 12px;
}
/* line 210, ../sass/partials/_menu.scss */
.base .info-statc .chek .bt {
  background-color: #fafafa;
}
/* line 213, ../sass/partials/_menu.scss */
.base .info-statc .chek .error-msg {
  font-size: 14px;
  font-family: sans-serif;
  color: red;
  margin-top: 9px;
}
/* line 219, ../sass/partials/_menu.scss */
.base .info-statc .chek .mail-popup {
  background-color: white;
  border-radius: 8px;
  padding-top: 6px;
  border: 2px solid #c7c7c7;
}
/* line 226, ../sass/partials/_menu.scss */
.base .info-statc .brd {
  border-top-width: 2px;
}
/* line 229, ../sass/partials/_menu.scss */
.base .info-statc .btnCntrl {
  margin-top: 40px;
}
/* line 231, ../sass/partials/_menu.scss */
.base .info-statc .btnCntrl .add_button {
  background-color: #A63950;
  background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
  border: 1px solid #A63950;
  color: #ffffff;
  margin-right: 45px;
  margin-left: 3%;
  width: 100%;
  height: 44px;
  margin-top: 0px;
}
/* line 242, ../sass/partials/_menu.scss */
.base .info-statc .btnCntrl .cncl {
  width: 80%;
}
/* line 247, ../sass/partials/_menu.scss */
.base .search-input {
  display: block;
  width: 270px;
  float: right;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  box-shadow: none;
  text-align: left;
  margin-right: 30px;
}
/* line 262, ../sass/partials/_menu.scss */
.base .demandes {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 265, ../sass/partials/_menu.scss */
.base .demandes .demande {
  margin-bottom: 10px;
  border-left: 4px solid #354052;
  background-color: #ffffff;
  /*width: 80%;
  margin-left: 10%;
  margin-right: 10%;*/
}
/* line 272, ../sass/partials/_menu.scss */
.base .demandes .demande canvas {
  width: 100% !important;
}
/* line 275, ../sass/partials/_menu.scss */
.base .demandes .demande .act {
  color: #008C3A;
}
/* line 278, ../sass/partials/_menu.scss */
.base .demandes .demande .inact {
  color: #ff0000;
}
/* line 281, ../sass/partials/_menu.scss */
.base .demandes .demande .info {
  margin-top: 18px;
  margin-bottom: 73px;
}
/* line 284, ../sass/partials/_menu.scss */
.base .demandes .demande .info .table-presentation {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 17px;
}
/* line 288, ../sass/partials/_menu.scss */
.base .demandes .demande .info .table-presentation .text-conf {
  font-size: 16px;
  font-family: SourceSansPro-Semibold;
}
/* line 292, ../sass/partials/_menu.scss */
.base .demandes .demande .info .table-presentation .glyphicon {
  font-size: 111%;
  color: darkgrey;
}
/* line 296, ../sass/partials/_menu.scss */
.base .demandes .demande .info .table-presentation td {
  width: 50%;
}
/* line 298, ../sass/partials/_menu.scss */
.base .demandes .demande .info .table-presentation td .z {
  margin-right: 60px;
}
/* line 302, ../sass/partials/_menu.scss */
.base .demandes .demande .info .table-presentation .td {
  width: 30%;
}
/* line 307, ../sass/partials/_menu.scss */
.base .demandes .demande .c {
  margin-bottom: 23px;
}
/* line 310, ../sass/partials/_menu.scss */
.base .demandes .demande .meta-data {
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: #7F8FA4;
}
/* line 315, ../sass/partials/_menu.scss */
.base .demandes .demande .data {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
}
/* line 319, ../sass/partials/_menu.scss */
.base .demandes .demande .service-data {
  margin-top: 9px;
}
/* line 321, ../sass/partials/_menu.scss */
.base .demandes .demande .service-data .glyphicon {
  color: #7f8fa4;
}
/* line 325, ../sass/partials/_menu.scss */
.base .demandes .demande .border-separator {
  border-color: #DADBDD;
  border-width: 1px;
  border-style: solid;
  font-size: 1px;
  margin: 10px 0px -7px 18px;
}
/* line 332, ../sass/partials/_menu.scss */
.base .demandes .demande .top_separator {
  margin-top: 3%;
}
/* line 335, ../sass/partials/_menu.scss */
.base .demandes .demande .btn-controlle {
  margin-bottom: 15px;
}
/* line 337, ../sass/partials/_menu.scss */
.base .demandes .demande .btn-controlle .valider-demande {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  height: 38px;
  width: 60%;
}
/* line 348, ../sass/partials/_menu.scss */
.base .demandes .demande .btn-controlle .refuser-demande {
  border: 1px solid #D13959;
  background-color: #D13959;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  height: 38px;
  width: 60%;
}
/* line 362, ../sass/partials/_menu.scss */
.base .cur {
  cursor: pointer;
}

/* line 1, ../sass/partials/_base.scss */
body :focus {
  outline: none;
}

/* line 4, ../sass/partials/_base.scss */
.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}

/* line 11, ../sass/partials/_base.scss */
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  width: 268px;
}

/* line 18, ../sass/partials/_base.scss */
.checkboxOne {
  width: 40px;
  height: 10px;
  background: #555;
  margin: 10px 64px;
  position: relative;
  border-radius: 3px;
}

/* line 26, ../sass/partials/_base.scss */
.checkboxOne label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: -3px;
  left: -3px;
  background: #ccc;
}

/* line 40, ../sass/partials/_base.scss */
.checkboxOne input[type=checkbox]:checked + label {
  left: 27px;
}

/* line 43, ../sass/partials/_base.scss */
.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 27px;
  width: 200px;
}

/* line 49, ../sass/partials/_base.scss */
.styled-select.slate select {
  font-size: 16px;
  height: 34px;
  width: 268px;
}

/* line 54, ../sass/partials/_base.scss */
.date_button {
  background-image: linear-gradient(-180deg, #39B54A 0%, #34AA44 98%);
  border: 1px solid #249533;
  border-radius: 4px;
}

/* line 60, ../sass/partials/_base.scss */
.add_button {
  border: none;
  background-color: #A63950;
  background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
  border: 1px solid #A63950;
  color: #ffffff;
  margin-bottom: 2%;
}

/* line 69, ../sass/partials/_base.scss */
.add_button2 {
  border: none;
  background-color: #474CFF;
  background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
  border: 1px solid #1566D8;
  border-radius: 25px 25px 25px 25px;
  color: #ffffff;
}

/* line 79, ../sass/partials/_base.scss */
.height {
  background: #F4F7F9;
  box-shadow: 0px -1px 0px 0px #E6EAEE;
  border: 1px solid #E6EAEE;
  height: 64px;
  display: block;
}

/* line 87, ../sass/partials/_base.scss */
#fatCadre {
  background: #FFFFFF;
  border: 1px solid #E6EAEE;
  border-radius: 6px;
  display: block;
  /*width: 520px;*/
  height: 30%;
}

/* line 97, ../sass/partials/_base.scss */
.nomBouton {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 13px;
  color: #7F8FA4;
  margin-top: 28px;
}

/* line 105, ../sass/partials/_base.scss */
.nomRubrique {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 12px;
  color: #7F8FA4;
}

/* line 112, ../sass/partials/_base.scss */
.nb {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 36px;
  color: #1D2531;
}

/* line 119, ../sass/partials/_base.scss */
.border_me {
  border-color: #DADBDD;
  border-width: 1px;
  border-style: solid;
  font-size: 1px;
  margin-right: 12px;
  margin-left: 12px;
}

/* line 128, ../sass/partials/_base.scss */
.red {
  background: red;
}

/* line 132, ../sass/partials/_base.scss */
.green {
  background: green;
}

/* line 136, ../sass/partials/_base.scss */
.red, .green {
  margin-right: 10px;
  margin-bottom: 20px;
}

 /*@font-face {
     font-family: 'Source Sans Pro';
    font-weight: 600;
     src: url('SourceSansPro-Semibold.ttf') format('truetype')
 }

@font-face {
     font-family: 'Source Sans Pro';
     src: url('SourceSansPro-Regular.otf') format('truetype')
 }*/
/* line 152, ../sass/partials/_base.scss */
body {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-family: sans-serif;
  height: auto !important;
}

/* line 160, ../sass/partials/_base.scss */
.div_min {
  min-height: 100%;
  margin-top: 23px;
}

/* line 165, ../sass/partials/_base.scss */
.text {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: #7F8FA4;
}

/* line 171, ../sass/partials/_base.scss */
.service_button {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  width: 165px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  height: 36px;
  -webkit-appearance: none;
}

/* line 183, ../sass/partials/_base.scss */
.search {
  display: block;
  width: 270px;
  float: right;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  box-shadow: none;
  text-align: left;
  margin-right: 30px;
  margin-top: 16px;
}

/* line 200, ../sass/partials/_base.scss */
summary::-webkit-details-marker {
  transform: rotate(90deg);
}

/* line 204, ../sass/partials/_base.scss */
details[open] summary::-webkit-details-marker {
  transform: rotate(180deg);
}

/* line 208, ../sass/partials/_base.scss */
.agg {
  background: #ffffff;
}

/* line 212, ../sass/partials/_base.scss */
.tab_cache {
  border-collapse: separate;
  border-spacing: 50px 8px;
}

/* line 217, ../sass/partials/_base.scss */
.titre_table_cache {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #1D2531;
  margin-top: 20px;
}

/* line 225, ../sass/partials/_base.scss */
.content_table_cache {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: #7F8FA4;
  vertical-align: top;
  word-wrap: break-word;
}

/* line 234, ../sass/partials/_base.scss */
ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: top;
}

/* line 240, ../sass/partials/_base.scss */
.modifier {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  width: 97px;
  height: 36px;
}

/* line 254, ../sass/partials/_base.scss */
#refresh {
  background: #F4F7F9;
  padding-bottom: 44%;
}

/* line 259, ../sass/partials/_base.scss */
summary:focus {
  outline: none;
}

/* line 263, ../sass/partials/_base.scss */
summary::-webkit-details-marker {
  float: right;
  margin-right: 20px;
  color: #A2A8B0;
}

/* line 269, ../sass/partials/_base.scss */
.conteneur {
  background: #ffffff;
  margin-top: 23px;
  margin-left: 39px;
}

/* line 275, ../sass/partials/_base.scss */
.text1 {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.02px;
}

/* line 282, ../sass/partials/_base.scss */
.input {
  border-color: #ffffff;
  border-style: solid;
  width: 248px;
  color: #7F8FA4;
  font-size: 15px;
  font-family: 'Source Sans Pro';
}

/* line 291, ../sass/partials/_base.scss */
.input:focus {
  outline: none;
}

/* line 296, ../sass/partials/_base.scss */
.border_me2 {
  border-color: #D1DAE5;
  border-width: 1px;
  border-style: solid;
  font-size: 1px;
  margin-right: 12px;
  margin-left: 12px;
}

/* line 305, ../sass/partials/_base.scss */
.titre_part {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #1D2531;
  letter-spacing: 0.12px;
}

/* line 313, ../sass/partials/_base.scss */
.choix_item {
  margin-top: 7px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color: #1D2531;
  letter-spacing: 0px;
  line-height: 30px;
}

/* line 322, ../sass/partials/_base.scss */
.add {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  width: 97px;
  height: 36px;
}

/* line 330, ../sass/partials/_base.scss */
.squaredOne {
  width: 14px;
  height: 14px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fff 0%, #bbbfc5 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 1px auto;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  position: relative;
}

/* line 348, ../sass/partials/_base.scss */
.squaredOne label {
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 2px;
  top: 2px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  background: -webkit-linear-gradient(top, #fff 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

/* line 368, ../sass/partials/_base.scss */
.squaredOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #7B7D7F;
  background: -webkit-linear-gradient(top, #198423 0%, #198423 100%);
  background: -moz-linear-gradient(top, #198423 0%, #198423 100%);
  background: -o-linear-gradient(top, #198423 0%, #198423 100%);
  background: -ms-linear-gradient(top, #198423 0%, #198423 100%);
  background: linear-gradient(top, #198423 0%, #198423 100%);
  top: 1px;
  left: 1px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 392, ../sass/partials/_base.scss */
.squaredOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 398, ../sass/partials/_base.scss */
.squaredOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 404, ../sass/partials/_base.scss */
.help_button {
  border: none;
  background-color: #474CFF;
  background-image: linear-gradient(0deg, #F2F4F7 2%, #FFFFFF 100%);
  border: 1px solid #1566D8;
  border-radius: 25px 25px 25px 25px;
  color: #354052;
  border: 1px solid #CED0DA;
}

/* line 414, ../sass/partials/_base.scss */
h2 {
  color: #555;
}

/*.consult_button {
    background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
    border: 1px solid #1566D8;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 203px;
    height: 36px;
    margin-left: 26px;
    margin-top: 12px;
    margin-right: 36px;
}

.create_boutons {
    background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
    border: 1px solid #A63950;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 248px;
    height: 36px;
}
.create_boutons_disabled {
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    width: 248px;
    height: 36px;
}*/
/* line 457, ../sass/partials/_base.scss */
#FC-logo1 {
  width: 35%;
  margin-top: -16px;
}

/* line 461, ../sass/partials/_base.scss */
#FC-logo2 {
  width: 50%;
}

/* line 465, ../sass/partials/_base.scss */
.zone {
  background: #ffffff;
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 2%;
}

/* line 472, ../sass/partials/_base.scss */
.zone2 {
  background: #ffffff;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 3%;
  height: 100%;
}

/* line 480, ../sass/partials/_base.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1%;
  height: 1%;
  clear: both;
  top: 800px;
}

/* line 491, ../sass/partials/_base.scss */
#input {
  margin-left: 5%;
  margin-right: 25%;
  width: 100%;
  height: 25%;
}

/* line 498, ../sass/partials/_base.scss */
.input2 {
  height: 100%;
  width: 75%;
  border-color: #ffffff;
  border-style: solid;
}

/* line 505, ../sass/partials/_base.scss */
.co_button {
  border: none;
  background-color: #474CFF;
  background-image: linear-gradient(0deg, #474CFF, #3A43F3 50%);
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  /* line 514, ../sass/partials/_base.scss */
  #wakanda-logo {
    margin: 5% 0;
  }
}
/* line 518, ../sass/partials/_base.scss */
input {
  outline: none;
}

/* line 522, ../sass/partials/_base.scss */
#sidebar {
  background: #0064AE;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: left;
  top: 0;
  width: 20%;
  z-index: 10000;
}

/* line 536, ../sass/partials/_base.scss */
#sidebar > .inner {
  margin-top: -5%;
  line-height: 3em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: block;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
  width: 100%;
}

/* line 563, ../sass/partials/_base.scss */
#principale {
  margin-left: 20%;
}

/* line 567, ../sass/partials/_base.scss */
#zone_info {
  background: red;
  display: block;
  height: 100%;
  width: 100%;
}

/* line 574, ../sass/partials/_base.scss */
.border_me3 {
  border-color: #EEF1F4;
  border-width: 2px;
  border-style: solid;
  font-size: 1px;
  margin-right: 12px;
  margin-left: 12px;
}

/* line 583, ../sass/partials/_base.scss */
.ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 589, ../sass/partials/_base.scss */
.header_barre {
  background: #1B2433;
  width: 120%;
  height: 80px;
  margin-left: -20px;
}

/* line 596, ../sass/partials/_base.scss */
.button_create {
  margin-top: 50px;
  margin-left: 30px;
  background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
  border: 1px solid #A63950;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
  width: 258px;
  height: 52px;
}

/* line 610, ../sass/partials/_base.scss */
.button_valider {
  background-image: linear-gradient(-1deg, #14ec6f 2%, #2f8842 97%);
  border: 1px solid #A63950;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
  margin-top: 21px;
  margin-left: 26px;
  width: 70px;
}

/* line 626, ../sass/partials/_base.scss */
.checkboxes {
  visibility: hidden;
}

/* line 630, ../sass/partials/_base.scss */
.annuler {
  margin-left: 16px;
  border: none;
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #354052;
  letter-spacing: 0.12px;
  width: 155px;
  height: 45px;
}

/* line 645, ../sass/partials/_base.scss */
.titre_compte {
  font-family: 'Source Sans Pro';
  font-size: 28.79px;
  color: #354052;
  letter-spacing: 0.02px;
}

/* line 652, ../sass/partials/_base.scss */
.border_me4 {
  border-color: #DADBDD;
  border-width: 1px;
  border-style: solid;
  font-size: 1px;
}

/* line 659, ../sass/partials/_base.scss */
.titre_row_compte {
  margin-top: 32px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.12px;
}

/* line 668, ../sass/partials/_base.scss */
.button_modif {
  margin-top: 37px;
  margin-bottom: 28px;
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
  width: 258px;
  height: 45px;
}

/* line 683, ../sass/partials/_base.scss */
.add_user {
  margin-top: 14px;
  margin-left: 35px;
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  width: 184px;
  height: 36px;
}

/* line 698, ../sass/partials/_base.scss */
.button_create_user {
  margin-top: 100px;
  margin-bottom: 40px;
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
  width: 258px;
  height: 45px;
}

/* line 713, ../sass/partials/_base.scss */
.texte_create_user {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.02px;
}

/* line 720, ../sass/partials/_base.scss */
.user_rules {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 15px;
  color: #1D2531;
  letter-spacing: 0.12px;
}

/* line 728, ../sass/partials/_base.scss */
.supprimer {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  width: 114px;
  height: 36px;
}

/* line 740, ../sass/partials/_base.scss */
.button_create_profil {
  margin-top: 100px;
  margin-bottom: 40px;
  background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
  border: 1px solid #A63950;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
  width: 258px;
  height: 45px;
}

/* line 755, ../sass/partials/_base.scss */
.titre_droit_create_profil {
  margin-top: 53px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #1D2531;
  letter-spacing: 0.12px;
}

/* line 765, ../sass/partials/_base.scss */
.texte_create_profil {
  margin-top: 8px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.02px;
}

/* line 773, ../sass/partials/_base.scss */
.titre_input_coll {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.12px;
}

/* line 780, ../sass/partials/_base.scss */
.button_register_modif {
  margin-top: 250px;
  margin-bottom: 23px;
  margin-left: 29px;
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14.39px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
  width: 258px;
  height: 45px;
}

/* line 796, ../sass/partials/_base.scss */
.titre_demandes {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 16px;
  color: #1D2531;
  margin-bottom: 30px;
}

/* line 804, ../sass/partials/_base.scss */
.titre_demandes_grey {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 16px;
  color: #7F8FA4;
  margin-bottom: 30px;
}

/* line 812, ../sass/partials/_base.scss */
.titre2_demandes {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #7F8FA4;
}

/* line 819, ../sass/partials/_base.scss */
.soustitre_demandes {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: #7F8FA4;
}

/* line 825, ../sass/partials/_base.scss */
.num_dossier {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 16px;
  color: #1D2531;
}

/* line 832, ../sass/partials/_base.scss */
.valider_demande_demandes {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  width: 176px;
  height: 36px;
  margin-top: 35px;
}

/* line 846, ../sass/partials/_base.scss */
.imprimer_demandes {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  height: 36px;
  width: 116px;
  margin-left: 22px;
}

/* line 860, ../sass/partials/_base.scss */
.exporter_demandes {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  width: 116px;
  height: 36px;
  margin-left: 22px;
}

/* line 874, ../sass/partials/_base.scss */
.refuser_demandes {
  background-image: linear-gradient(0deg, #ff2700 0%, #ff0000 100%);
  border: 1px solid #ff2700;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  width: 180px;
  height: 36px;
  float: right;
  margin-right: 20px;
  margin-bottom: 21px;
  margin-top: 35px;
}

/* line 891, ../sass/partials/_base.scss */
.infos_demandes {
  margin-top: 20px;
  margin-left: 30px;
}

/* line 896, ../sass/partials/_base.scss */
.titre_infos_demandes {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #7F8FA4;
}

/* line 903, ../sass/partials/_base.scss */
.data_infos_demandes {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: #1D2531;
  display: block;
  overflow: hidden;
}

/* line 911, ../sass/partials/_base.scss */
.modifier_boutons {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  margin-top: 53px;
  margin-bottom: 21px;
  width: 97px;
  height: 36px;
}

/* line 926, ../sass/partials/_base.scss */
.desactiver_boutons {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  margin-left: 14px;
  margin-top: 53px;
  margin-bottom: 21px;
  width: 120px;
  height: 36px;
}

/* line 942, ../sass/partials/_base.scss */
.supprimer_boutons {
  background-image: linear-gradient(0deg, #ff0000 0%, #ff0000 100%);
  border: 1px solid #ff0000;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  margin-top: 53px;
  margin-bottom: 21px;
  width: 120px;
  height: 36px;
}

/* line 957, ../sass/partials/_base.scss */
#conteneur {
  width: auto;
}

/* line 961, ../sass/partials/_base.scss */
.border_blue {
  border-color: #1A91EB;
  border-width: 2px;
  border-style: solid;
  font-size: 1px;
  margin-top: 21px;
  margin-left: 12px;
}

/* line 970, ../sass/partials/_base.scss */
.copier_bouton {
  background-image: linear-gradient(-180deg, #ffffff 0%, #ffffff 98%);
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #1A91EB;
  line-height: 19px;
  height: 36px;
}

/* line 982, ../sass/partials/_base.scss */
.modifier_gestion {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  margin-bottom: 28px;
  width: 97px;
  height: 36px;
  margin-left: 14px;
}

/* line 997, ../sass/partials/_base.scss */
.desactiver_gestion {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  width: 114px;
  height: 36px;
  margin-bottom: 28px;
}

/* line 1011, ../sass/partials/_base.scss */
.supprimer_gestion {
  background-image: linear-gradient(0deg, #ff0000 0%, #ff0000 100%);
  border: 1px solid #ff0000;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  width: 114px;
  height: 36px;
  margin-right: 20px;
}

/* line 1024, ../sass/partials/_base.scss */
.ajouter_option_gestion {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 14px;
  color: #354052;
  line-height: 19px;
  width: 114px;
  height: 36px;
  margin-top: 36px;
  margin-bottom: 28px;
}

/* line 1039, ../sass/partials/_base.scss */
.co_button_dgfip {
  border: none;
  background-color: #474CFF;
  background-image: linear-gradient(0deg, #474CFF, #3A43F3 50%);
  color: #ffffff;
}

/* line 1045, ../sass/partials/_base.scss */
#frola-box div:nth-child(4) {
  display: none !important;
}

/* line 1048, ../sass/partials/_base.scss */
#frola-box div:nth-child(5) {
  display: none !important;
}

/* line 1055, ../sass/partials/_base.scss */
body {
  background: #0064AE;
  font-size: 24px;
  font-size: 1.5rem;
  -moz-box-shadow: 24px 20px #fff;
  -webkit-box-shadow: 24px 20px #fff;
  box-shadow: 24px 20px #fff;
}

/* line 1061, ../sass/partials/_base.scss */
.row {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 1069, ../sass/partials/_base.scss */
.container-fluid .row .row .placeholders {
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 20px;
}
/* line 1075, ../sass/partials/_base.scss */
.container-fluid .row .center {
  background: #EFF3F6;
  height: 680px;
}
/* line 1081, ../sass/partials/_base.scss */
.container-fluid .row_class {
  margin-top: 2%;
}
/* line 1084, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base {
  padding-bottom: 4%;
  padding-top: 4%;
}
/* line 1088, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base .demandes .demande {
  width: 84%;
  margin-left: 8%;
  margin-right: 10%;
}
/* line 1092, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base .demandes .demande .accordion__tab {
  border-bottom: 2px solid #131010;
  border-left: 4px solid #0064ae;
  border: 6px solid #f4f7f9;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
/* line 1099, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base .demandes .demande .accordion__tab .accordion__tab-title {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 5px;
  cursor: pointer;
}
/* line 1106, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base .demandes .demande .accordion__tab .accordion__tab-content {
  background-color: whitesmoke;
  border-top-color: #ddd;
  border-top: 1px solid #ddd;
  padding: 1% 1% 1% 1%;
}
/* line 1113, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base .demandes .demande .accordion__tab .accordion__tab-content .row .content {
  background-color: white;
  margin-bottom: 3%;
  background-color: white;
  margin-bottom: 3%;
  border-radius: 5px;
  padding-top: 15px;
  box-shadow: 3px 1px 2px rgba(39, 70, 63, 0.64);
}
/* line 1119, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base .demandes .demande .accordion__tab .accordion__tab-content .modif {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  height: 38px;
  width: 80%;
}
/* line 1130, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .base .demandes .demande .accordion__tab .accordion__tab-content .delete {
  background-image: linear-gradient(0deg, #ff2700 0%, #ff0000 100%);
  border: 1px solid #ff2700;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  height: 38px;
  width: 80%;
}
/* line 1149, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .conteneur .row .main {
  width: 80%;
  margin-left: 5%;
}
/* line 1154, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .conteneur .row .main ul li .border_me4 {
  width: 80%;
}
/* line 1163, ../sass/partials/_base.scss */
.container-fluid .row_class #refresh .conteneur .row .button_main .annuler {
  margin-left: 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1176, ../sass/partials/_base.scss */
  .container-fluid {
    margin-top: 2%;
  }
  /* line 1180, ../sass/partials/_base.scss */
  .container-fluid .row_class {
    margin-top: 2%;
  }
  /* line 1182, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh {
    margin-top: 0%;
    background: #F4F7F9;
    width: 90%;
    margin-left: 10%;
  }
  /* line 1187, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur {
    background: #ffffff;
    width: 90%;
    box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
    border-radius: 6px;
    margin-left: 5%;
  }
  /* line 1193, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur .texte_create_user {
    font-family: SourceSansPro-Regular;
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.02px;
    margin-bottom: -79px;
    padding-top: 6%;
  }
  /* line 1203, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur .row .titre_row_compte {
    font-family: SourceSansPro-Semibold;
    font-size: 15px;
    color: #354052;
    letter-spacing: 0.12px;
  }
  /* line 1209, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur .row .main {
    margin-left: 20%;
  }
  /* line 1213, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur .row .main ul li .form-control {
    margin-top: 5%;
    width: 80%;
  }
  /* line 1220, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur .row .button_main {
    width: 100%;
  }
  /* line 1222, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur .row .button_main .button_create_user {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  /* line 1227, ../sass/partials/_base.scss */
  .container-fluid .row_class #refresh .conteneur .row .button_main .annuler {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2%;
  }
}
@media (max-width: 767px) {
  /* line 1242, ../sass/partials/_base.scss */
  .d {
    width: 50% !important;
    float: none !important;
    margin-left: 12px;
  }

  /* line 1247, ../sass/partials/_base.scss */
  .container-fluid {
    margin-top: -14%;
  }
  /* line 1250, ../sass/partials/_base.scss */
  .container-fluid .row {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
    padding-top: 3%;
  }
  /* line 1262, ../sass/partials/_base.scss */
  .container-fluid .row .height {
    height: 100px;
  }
  /* line 1268, ../sass/partials/_base.scss */
  .container-fluid .row .row_class {
    margin-top: -10%;
  }
  /* line 1270, ../sass/partials/_base.scss */
  .container-fluid .row .row_class #refresh {
    padding-bottom: 9%;
  }
  /* line 1275, ../sass/partials/_base.scss */
  .container-fluid .row .row_class #refresh .conteneur .row .main {
    left: 5%;
  }
  /* line 1279, ../sass/partials/_base.scss */
  .container-fluid .row .row_class #refresh .conteneur .row .main ul li .form-control {
    padding-top: 0;
    margin-top: 3%;
    width: 100%;
  }
  /* line 1284, ../sass/partials/_base.scss */
  .container-fluid .row .row_class #refresh .conteneur .row .main ul li .border_me4 {
    width: 100%;
  }
  /* line 1291, ../sass/partials/_base.scss */
  .container-fluid .row .row_class #refresh .conteneur .row .button_main {
    margin-left: 15%;
    width: 70%;
  }
  /* line 1294, ../sass/partials/_base.scss */
  .container-fluid .row .row_class #refresh .conteneur .row .button_main .button_create_user {
    margin-bottom: 2%;
  }
  /* line 1297, ../sass/partials/_base.scss */
  .container-fluid .row .row_class #refresh .conteneur .row .button_main .annuler {
    margin-left: 0%;
  }
}
/* line 1308, ../sass/partials/_base.scss */
#refresh1 {
  padding-bottom: 2%;
  padding-top: 2%;
}
/* line 1312, ../sass/partials/_base.scss */
#refresh1 .warning-msg {
  color: RED;
  font-size: 16px;
}
/* line 1316, ../sass/partials/_base.scss */
#refresh1 .success-msg {
  color: GREEN;
  font-size: 16px;
}
/* line 1320, ../sass/partials/_base.scss */
#refresh1 .form-compte {
  margin-top: 30px;
}
/* line 1323, ../sass/partials/_base.scss */
#refresh1 .border_me4 {
  border-color: #DADBDD;
  border-width: 1px;
  border-style: solid;
  font-size: 1px;
  width: 100%;
  margin-top: 17px;
}
/* line 1331, ../sass/partials/_base.scss */
#refresh1 li {
  margin-top: 13px;
}
/* line 1334, ../sass/partials/_base.scss */
#refresh1 .input {
  border-color: #ffffff;
  border-style: solid;
  width: 100%;
  color: #7F8FA4;
  font-size: 15px;
  font-family: SourceSansPro-Regular;
}
/* line 1342, ../sass/partials/_base.scss */
#refresh1 .btn-cancel {
  background-image: linear-gradient(-1deg, #babfc7 2%, #a3acbb 98%);
}

/* line 1347, ../sass/partials/_base.scss */
.search-coll .btn-search {
  position: absolute;
  top: 0px;
  right: -5%;
}

/* line 1353, ../sass/partials/_base.scss */
.detail-collectivity {
  margin-top: 15px;
  font-size: 20px;
  font-family: sans-serif;
}
/* line 1357, ../sass/partials/_base.scss */
.detail-collectivity .presentation-col {
  color: #7f8fac;
}
/* line 1360, ../sass/partials/_base.scss */
.detail-collectivity .presentation-name {
  font-weight: bold;
  margin-left: 9px;
}
/* line 1364, ../sass/partials/_base.scss */
.detail-collectivity .info {
  font-size: 16px;
}
/* line 1367, ../sass/partials/_base.scss */
.detail-collectivity .presentation-info {
  font-size: 15px;
  color: #7f8fac;
}

/* line 1372, ../sass/partials/_base.scss */
.info-zone {
  margin-top: 11px;
}
/* line 1374, ../sass/partials/_base.scss */
.info-zone .border-btm {
  border-bottom: 4px solid #354052;
}
/* line 1376, ../sass/partials/_base.scss */
.info-zone .border-btm span {
  font-size: 20px;
  color: #7f8fac;
}
/* line 1382, ../sass/partials/_base.scss */
.info-zone table .t {
  font-weight: bolder;
}

/* line 1387, ../sass/partials/_base.scss */
.br-login {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: -2%;
}

/* line 1392, ../sass/partials/_base.scss */
.input-login {
  margin-top: 6%;
  margin-left: 6%;
}

/* line 1396, ../sass/partials/_base.scss */
.foot {
  text-align: center;
  margin-top: 5%;
}
/* line 1399, ../sass/partials/_base.scss */
.foot .text {
  color: #5B6F86;
}
/* line 1402, ../sass/partials/_base.scss */
.foot .text-link {
  font-weight: bold;
}
.foot span.text-link a {
  font-weight: bold;
  color: #3072AB;
}

/* line 1406, ../sass/partials/_base.scss */
.create-btn {
  background: #F4F7F9;
  margin: -40px 0px 0px 0px;
}
/* line 1409, ../sass/partials/_base.scss */
.create-btn .plus {
  width: 8px;
  height: 8px;
  margin-right: 1%;
}
/* line 1414, ../sass/partials/_base.scss */
.create-btn .text-create-btn {
  font-size: 114%;
  font-weight: bold;
}

/* line 1419, ../sass/partials/_base.scss */
.form-box {
  background-color: white;
  padding-left: 35px;
  padding-top: 34px;
  box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
  border-radius: 10px;
  margin-bottom: 90px;
}
/* line 1426, ../sass/partials/_base.scss */
.form-box .txt {
  font-size: 26px;
  color: black;
  font-family: sans-serif;
}
/* line 1431, ../sass/partials/_base.scss */
.form-box .ti {
  margin-bottom: 30px;
}
/* line 1434, ../sass/partials/_base.scss */
.form-box .btn-width {
  max-width: 69%;
}
/* line 1437, ../sass/partials/_base.scss */
.form-box .wd {
  max-width: 45%;
}
/* line 1439, ../sass/partials/_base.scss */
.form-box .wd .input-col {
  border-color: #ffffff;
  border-style: solid;
  width: 100%;
  color: #7F8FA4;
  font-size: 15px;
  font-family: SourceSansPro-Regular;
}
/* line 1447, ../sass/partials/_base.scss */
.form-box .wd .b {
  margin-top: 4px;
}
/* line 1451, ../sass/partials/_base.scss */
.form-box .bt {
  margin-top: 39px;
}
/* line 1454, ../sass/partials/_base.scss */
.form-box .n {
  margin-top: 6px !important;
  margin-bottom: 41px;
  margin-left: 28px;
  width: 259px;
}
/* line 1460, ../sass/partials/_base.scss */
.form-box .color-t {
  color: #1a91eb;
}
/* line 1463, ../sass/partials/_base.scss */
.form-box .titre_row_compte {
  margin-bottom: 18px;
}
/* line 1466, ../sass/partials/_base.scss */
.form-box .btn-cntrl {
  margin-bottom: 60px;
  margin-top: 40px;
}
/* line 1469, ../sass/partials/_base.scss */
.form-box .btn-cntrl .btn-create {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #CED0DA;
  font-family: SourceSansPro-Semibold;
  color: #FFFFFF;
}
/* line 1475, ../sass/partials/_base.scss */
.form-box .btn-cntrl .btn-cancel {
  background-image: linear-gradient(-1deg, #F2F4F7 2%, #FFFFFF 97%);
  border: 1px solid #CED0DA;
  font-family: SourceSansPro-Semibold;
}

/* line 1482, ../sass/partials/_base.scss */
.alert-div {
  padding: 17px;
  text-align: center;
}
/* line 1485, ../sass/partials/_base.scss */
.alert-div .err {
  color: red;
  font-size: 16px;
}
/* line 1489, ../sass/partials/_base.scss */
.alert-div .su {
  color: green;
  font-size: 16px;
}

/* line 1494, ../sass/partials/_base.scss */
.user-info {
  background-color: white;
  top: -41px;
  height: 64px;
}
/* line 1498, ../sass/partials/_base.scss */
.user-info .inf {
  font-family: SourceSansPro-Regular;
  font-size: 15px;
  margin-top: 5%;
  color: rgba(65, 75, 82, 0.58);
  position: absolute;
}
/* line 1505, ../sass/partials/_base.scss */
.user-info .date {
  position: relative;
  float: right;
  font-weight: bold;
}

/* line 1511, ../sass/partials/_base.scss */
.btn-btn {
  background: #F4F7F9;
  box-shadow: 0px -1px 0px 0px #E6EAEE;
  border: 1px solid #E6EAEE;
  top: -40px;
  padding-bottom: 12px;
  padding-top: 12px;
}
/* line 1519, ../sass/partials/_base.scss */
.btn-btn .text-create-btn {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  color: #354052;
  letter-spacing: 0.02px;
  font-weight: bold;
}
/* line 1525, ../sass/partials/_base.scss */
.btn-btn .text-create-btn a {
  color: #D13959;
}

/* line 1534, ../sass/partials/_base.scss */
#slctTp:focus option:first-of-type {
  display: none;
}

/* line 1540, ../sass/partials/_base.scss */
.fields {
  width: 77%;
  margin-left: 62px;
}
/* line 1543, ../sass/partials/_base.scss */
.fields .cell1 {
  width: 30%;
}
/* line 1546, ../sass/partials/_base.scss */
.fields .cell2 {
  width: 32%;
}
/* line 1549, ../sass/partials/_base.scss */
.fields .cell3 {
  width: 27%;
}
/* line 1552, ../sass/partials/_base.scss */
.fields span {
  color: red;
  font-size: 18px;
  cursor: pointer;
}

/* line 1558, ../sass/partials/_base.scss */
.frm-padd {
  padding-bottom: 27px;
}

/* line 1563, ../sass/partials/_base.scss */
.content-page .img1 {
  height: 100px;
}
/* line 1566, ../sass/partials/_base.scss */
.content-page .img2 {
  width: 200px;
}
/* line 1569, ../sass/partials/_base.scss */
.content-page .brdr {
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 0%;
}
/* line 1574, ../sass/partials/_base.scss */
.content-page .marge {
  margin-bottom: 20px;
}

/* line 1578, ../sass/partials/_base.scss */
.upload-info {
  padding-left: 60px;
  padding-top: 26px;
}
/* line 1581, ../sass/partials/_base.scss */
.upload-info .upload-er {
  color: red;
  display: none;
}
/* line 1585, ../sass/partials/_base.scss */
.upload-info .upload-war {
  color: #e2a000;
  display: none;
}
/* line 1589, ../sass/partials/_base.scss */
.upload-info .upload-succ {
  color: green;
  display: none;
}

/* line 1595, ../sass/partials/_base.scss */
.pagination-footer .page-item {
  cursor: pointer;
}
/* line 1598, ../sass/partials/_base.scss */
.pagination-footer .pages {
  background-color: rgba(221, 221, 221, 0.37);
  color: black;
}
/* line 1602, ../sass/partials/_base.scss */
.pagination-footer button {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
/* line 1613, ../sass/partials/_base.scss */
.pagination-footer .next {
  border-radius: 0px 6px 6px 0px;
}
/* line 1616, ../sass/partials/_base.scss */
.pagination-footer .previous {
  border-radius: 6px 0px 0px 6px;
}

/* line 1620, ../sass/partials/_base.scss */
.head-logo {
  margin-top: 68px;
}
/* line 1622, ../sass/partials/_base.scss */
.head-logo .zone-white {
  border-radius: 5px;
}

/* line 1626, ../sass/partials/_base.scss */
.titre-page {
  margin-top: 40px;
}
/* line 1628, ../sass/partials/_base.scss */
.titre-page .service {
  font-family: SourceSansPro-Bold;
  font-size: 32px;
  color: #354052;
  letter-spacing: -0.43px;
}
/* line 1634, ../sass/partials/_base.scss */
.titre-page .separator {
  margin-top: 8px;
  margin-bottom: 20px;
  background: #FFFFFF;
  height: 2px;
}

/* line 1641, ../sass/partials/_base.scss */
.info-text {
  margin-top: -3px;
  margin-bottom: 20px;
}
/* line 1644, ../sass/partials/_base.scss */
.info-text .info {
  font-family: SourceSansPro-Regular;
  font-size: 18px;
  color: #354052;
  line-height: 27px;
}

/* line 1651, ../sass/partials/_base.scss */
.required {
  margin-top: 45px;
}
/* line 1653, ../sass/partials/_base.scss */
.required .hand {
  background: #1A91EB;
  padding: 3px 1px 5px 7px;
  border-radius: 18px;
  font-size: 20px;
  color: #FFF;
  margin-right: 12px;
}

/* line 1662, ../sass/partials/_base.scss */
.champ {
  margin-top: 35px;
}
/* line 1664, ../sass/partials/_base.scss */
.champ .file {
  display: none;
}
/* line 1667, ../sass/partials/_base.scss */
.champ .text {
  ont-family: SourceSansPro-Regular;
  font-size: 16px;
  color: #354052;
}
/* line 1672, ../sass/partials/_base.scss */
.champ .input-text {
  margin-top: 4px;
  background: #FFFFFF;
  border: 1px solid #DADBDD;
  border-radius: 4px;
  width: 333px;
  height: 43px;
  padding-left: 10px;
}
/* line 1681, ../sass/partials/_base.scss */
.champ .FileError {
  border: 1px solid #f53333;
}
/* line 1684, ../sass/partials/_base.scss */
.champ .error {
  color: red;
  font-weight: 600;
  margin-top: -6px;
  display: block;
  width: 100%;
}
/* line 1691, ../sass/partials/_base.scss */
.champ .upload {
  background: #EFF3F6;
  border: 1px solid #CED0DA;
  border-radius: 4px;
  width: 333px;
  display: block;
  height: 43px;
  padding-left: 11px;
  margin-top: 7px;
  padding-top: 9px;
}
/* line 1701, ../sass/partials/_base.scss */
.champ .upload span {
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: #7F8FA4;
}
/* line 1706, ../sass/partials/_base.scss */
.champ .upload label {
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border-left: 1px solid #CED0DA;
  border-radius: 4px;
  height: 41px;
  width: 117px;
  padding: 9px;
  cursor: pointer;
  float: right;
  margin-top: -9px;
}

/* line 1719, ../sass/partials/_base.scss */
.btn-logout {
  margin-top: -16px;
  margin-bottom: 40px;
  text-align: center;
}
/* line 1723, ../sass/partials/_base.scss */
.btn-logout .send {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 2px;
  width: 258px;
  height: 43px;
}
/* line 1729, ../sass/partials/_base.scss */
.btn-logout .send span {
  font-family: SourceSansPro-Semibold;
  font-size: 14.4px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
}

/* line 1737, ../sass/partials/_base.scss */
.btn-send {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
/* line 1741, ../sass/partials/_base.scss */
.btn-send .send {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 2px;
  width: 258px;
  height: 43px;
}
/* line 1747, ../sass/partials/_base.scss */
.btn-send .send span {
  font-family: SourceSansPro-Semibold;
  font-size: 14.4px;
  color: #FFFFFF;
  letter-spacing: 0.12px;
}

/* line 1755, ../sass/partials/_base.scss */
.err-msg {
  text-align: center;
  padding-top: 15px;
  color: red;
}

/* line 1761, ../sass/partials/_base.scss */
.info-demande p {
  font-size: 16px;
  color: #354052;
  line-height: 27px;
  margin-bottom: 35px;
}

@media print {
  /* line 1770, ../sass/partials/_base.scss */
  #recu {
    padding-top: 9cm;
  }
  /* line 1772, ../sass/partials/_base.scss */
  #recu .btn-send {
    display: none;
  }
  /* line 1775, ../sass/partials/_base.scss */
  #recu .foot {
    display: none;
  }
  /* line 1778, ../sass/partials/_base.scss */
  #recu .zone-white {
    color: green !important;
  }
  /* line 1781, ../sass/partials/_base.scss */
  #recu .titre-page .service {
    color: red !important;
  }
}
/* line 1787, ../sass/partials/_base.scss */
.filter {
  margin-bottom: 19px !important;
}
/* line 1789, ../sass/partials/_base.scss */
.filter .choix {
  margin-left: 10px !important;
}
/* line 1792, ../sass/partials/_base.scss */
.filter .text-filter {
  color: #0064ae;
}

/* line 2, ../sass/partials/_topbar.scss */
.topbar {
  border-bottom: 3px solid #eeeeee;
  margin-bottom: 40px;
  padding-bottom: 14px;
  background-color: white;
  height: 80px;
}
/* line 8, ../sass/partials/_topbar.scss */
.topbar .image1 {
  max-width: 130px;
  margin-top: -9px !important;
  float: right;
}
/* line 13, ../sass/partials/_topbar.scss */
.topbar .image2 {
  max-width: 150px;
  float: right;
}

@media screen and (orientation: landscape) {
  /* line 19, ../sass/partials/_topbar.scss */
  .body {
    margin: 1% 5% 0% 5%;
  }

  /* line 22, ../sass/partials/_topbar.scss */
  .topbar {
    border-bottom: 3px solid #eeeeee;
  }
  /* line 25, ../sass/partials/_topbar.scss */
  .topbar .image1 {
    width: 40%;
    margin-top: -19px;
  }
  /* line 29, ../sass/partials/_topbar.scss */
  .topbar .image2 {
    width: 56%;
  }
}
/* ANIMATIONS
============================================================================= */
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideInUp {
  to {
    transform: translateY(0%);
  }
}
@keyframes slideInDown {
  to {
    transform: translateY(200%);
  }
}
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/* line 50, ../sass/partials/_animation.scss */
.ng-enter {
  animation: slideInUp 0.5s both ease-in;
  z-index: 8888;
}

/* line 51, ../sass/partials/_animation.scss */
.ng-leave {
  animation: slideInDown 0.3s both ease-in;
  z-index: 9999;
}

/* line 55, ../sass/partials/_animation.scss */
.loginPage .ng-leave, .loginPage .ng-enter {
  animation: none;
}

/* line 59, ../sass/partials/_animation.scss */
.spinner {
  margin: 20% auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

/* line 68, ../sass/partials/_animation.scss */
.spinner > div {
  background-color: #0064AE;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

/* line 78, ../sass/partials/_animation.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 83, ../sass/partials/_animation.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 88, ../sass/partials/_animation.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 93, ../sass/partials/_animation.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/** Pages **/
/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
/* line 8, ../sass/pages/_dashboard.scss */
.shadow-zone {
  box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
  border-radius: 6px;
}

/* line 12, ../sass/pages/_dashboard.scss */
.connection-text {
  margin-bottom: 2%;
  color: #333E54;
  font-family: sans-serif;
  font-size: 170%;
}

/* line 18, ../sass/pages/_dashboard.scss */
.zone-white {
  background-color: white;
}

/* line 22, ../sass/pages/_dashboard.scss */
.chld-welcome {
  color: #333E54;
  font-size: 112%;
}

/* line 26, ../sass/pages/_dashboard.scss */
.welcome-text {
  color: #333E54;
  font-family: sans-serif;
  font-size: 300%;
  font-weight: bold;
}

/*
 * Global add-ons
 */
/* line 35, ../sass/pages/_dashboard.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
/* line 44, ../sass/pages/_dashboard.scss */
.navbar-fixed-top {
  border: 0;
}
.hidden{
  display: none
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
/* modiff
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; //* Scrollable contents if viewport is shorter than content.
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
*/
/* Sidebar navigation */
/* line 74, ../sass/pages/_dashboard.scss */
.nav-sidebar > li > a {
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 79, ../sass/pages/_dashboard.scss */
.nav-sidebar > .active > a, .nav-sidebar > li > a.active,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #063A5B;
  background-color: #063A5B;
}

/*
 * Main content
 */
/* line 91, ../sass/pages/_dashboard.scss */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  /* line 95, ../sass/pages/_dashboard.scss */
  .main {
    padding-right: 0;
    padding-left: 0;
  }
}
/*
 * Placeholder dashboard ideas
 */
/* line 106, ../sass/pages/_dashboard.scss */
.placeholders {
  /*  margin-bottom: 30px; */
  text-align: left;
}

/* line 110, ../sass/pages/_dashboard.scss */
.placeholders h4 {
  margin-bottom: 0;
}

/* line 113, ../sass/pages/_dashboard.scss */
.placeholder {
  margin-bottom: 20px;
}

/* line 116, ../sass/pages/_dashboard.scss */
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*** Start new style ***/
/* line 125, ../sass/pages/_dashboard.scss */
#refresh {
  margin-top: -20px;
}

/* line 128, ../sass/pages/_dashboard.scss */
.add_button {
  width: 170px;
  height: 36px;
  border: none;
  background-color: darkgrey;
  background-image: linear-gradient(-1deg, darkgrey 2%, darkgrey 97%);
  border: 1px solid darkgrey;
  border-radius: 4px;
  horizontal: 2px;
  margin-right: 45px;
  margin-top: 16px;
  margin-left: 3%;
  color: #ffffff;
}
/* line 138, ../sass/pages/_dashboard.scss */
.add_button .img {
  width: 8px;
  height: 8px;
  margin-right: 1%;
}
/* line 141, ../sass/pages/_dashboard.scss */
.add_button .font {
  font-size: 14px;
  background-color: #063A5B;
}

/* line 145, ../sass/pages/_dashboard.scss */
.msg-block {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px;
}
/* line 148, ../sass/pages/_dashboard.scss */
.msg-block #span {
  color: RED;
  font-size: 16px;
}

/* line 153, ../sass/pages/_dashboard.scss */
.search {
  display: block;
  width: 270px;
  float: right;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  box-shadow: none;
  text-align: left;
  margin-right: 30px;
  margin-top: 16px;
}

/* line 169, ../sass/pages/_dashboard.scss */
.justify {
  margin-top: 20px;
  margin-left: 50px;
}

/* line 172, ../sass/pages/_dashboard.scss */
.div_search {
  background: #F4F7F9;
  display: block;
  height: 100%;
}
/* line 174, ../sass/pages/_dashboard.scss */
.div_search details {
  background: #ffffff;
  margin-left: 3%;
  margin-top: 3%;
  border-left: 4px solid #354052;
}

/* line 179, ../sass/pages/_dashboard.scss */
.conteneur {
  background: #ffffff;
  width: 80%;
  box-shadow: 1px 1px 9px rgba(39, 70, 63, 0.64);
  border-radius: 6px;
  margin-left: 10%;
  margin-top: 20px;
}

/* line 187, ../sass/pages/_dashboard.scss */
.texte_create_user {
  font-family: SourceSansPro-Regular;
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.02px;
  margin-top: 30px;
}

/* line 194, ../sass/pages/_dashboard.scss */
.titre_row_compte {
  margin-top: 32px;
  font-family: SourceSansPro-Semibold;
  font-size: 15px;
  color: #354052;
  letter-spacing: 0.12px;
}

/* line 201, ../sass/pages/_dashboard.scss */
.main {
  margin-right: 30px;
}
/* line 204, ../sass/pages/_dashboard.scss */
.main ul li {
  margin-top: 30px;
}
/* line 206, ../sass/pages/_dashboard.scss */
.main ul li .form-control {
  margin-top: 5%;
  width: 80%;
}

/* line 212, ../sass/pages/_dashboard.scss */
.class_button {
  margin-bottom: 30px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

/* line 218, ../sass/pages/_dashboard.scss */
.button_main {
  width: 100%;
  margin-bottom: 5%;
}
/* line 221, ../sass/pages/_dashboard.scss */
.button_main .button_create_user {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  width: 186px;
  height: 36px;
}
/* line 232, ../sass/pages/_dashboard.scss */
.button_main .annuler {
  background-image: linear-gradient(-1deg, #F2F4F7 2%, #FFFFFF 97%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14.39px;
  color: #354052;
  letter-spacing: 0.12px;
  height: 36px;
  width: 186px;
}

/* line 1, ../sass/pages/_adduser.scss */
.row_class {
  margin-left: 17%;
}

/* line 5, ../sass/pages/_adduser.scss */
.warning-msg {
  color: RED;
  font-size: 16px;
}

/* line 9, ../sass/pages/_adduser.scss */
body {
  background-color: #eff3f6 !important;
}

/* line 12, ../sass/pages/_adduser.scss */
html {
  background-color: #eff3f6 !important;
}

/* line 2, ../sass/pages/_administrationStatistics.scss */
.heigh {
  		    /*background: #F4F7F9;
  		    box-shadow: 0px -1px 0px 0px #E6EAEE;
  		    border: 1px solid #E6EAEE;
  		    height: 64px;
  		    display: block;
     			top: -60px;
     			width: 89%;
              margin-left: 14%;*/
}
/* line 12, ../sass/pages/_administrationStatistics.scss */
.heigh .consult_button {
  background-image: linear-gradient(-1deg, #196DEB 2%, #2D76F8 98%);
  border: 1px solid #1566D8;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  width: 100%;
  height: 36px;
  margin-top: 12px;
}
/* line 25, ../sass/pages/_administrationStatistics.scss */
.heigh .create_boutons {
  background-image: linear-gradient(-1deg, #A63950 2%, #D13959 97%);
  border: 1px solid #A63950;
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  width: 100%;
  height: 36px;
  margin-top: 12px;
}
/* line 37, ../sass/pages/_administrationStatistics.scss */
.heigh .create_boutons_disabled {
  border-radius: 4px;
  font-family: SourceSansPro-Semibold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  width: 100%;
  height: 36px;
  margin-top: 12px;
}
/* line 47, ../sass/pages/_administrationStatistics.scss */
.heigh .help_button {
  border: none;
  background-color: #474CFF;
  background-image: linear-gradient(0deg, #F2F4F7 2%, #FFFFFF 100%);
  border: 1px solid #1566D8;
  border-radius: 25px 25px 25px 25px;
  color: #354052;
  border: 1px solid #CED0DA;
  width: 93px;
  height: 36px;
  border-radius: 4px;
  float: right;
  margin-right: 3%;
  margin-top: 12px;
}
