<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container" id="login-page">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 zone-white">
            <div class="text-center">
                <img id="FC-logo1" src="images/addulact.png" alt="">
                <img id="FC-logo2" src="images/FranceConnect.png" alt="" >
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3" ng-show="loading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <div class="row" ng-show="!loading">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">
	                <span class="welcome-text" aria-level="1" role="heading">
	                    {{serviceName}}
	                </span> <br>
                <span class="chld-welcome">
	                 Nous avons besoin des informations liées à votre compte CAF pour traiter votre demande. <br>
                     Veuillez vous connecter à votre compte CAF dans la fenêtre ci-dessous.
	                </span>
            </p>
        </div>
    </div>
    <form ng-show="!loading">
        <div class="col-md-8 col-md-offset-2">
            <div class='msg-block text-center' ng-if='error'>
							  <span style="color : RED ; font-size : 16px">
								{{msg}}
							  </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 zone-white  shadow-zone">
                <br>
                <p class="text-center">
	                <span class="connection-text">
	                    Connexion
	                </span>
                </p>
                <div class="border_me br-login"></div>
                <div class="input-login">
                    <div class="col-md-6">
                        <input class="input2" type="text" title="Code Postal" placeholder="Code Postal" ng-model="user.codePostal">
                        <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                    </div>
                    <div class="col-md-6">
                        <input class="input2" type="text"title="Numero Allocataire"  placeholder="Numero Allocataire" ng-model="user.numAlloc">
                        <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                    </div>
                </div>
                <div class="row text-center" style="margin-bottom: 3%; margin-top: 20%;">
                    <div class="col-md-6">
                        <input type="submit" class="co_button" name="" id="" value="CONNEXION" ng-click="logCaf(user)" style="width: 70%; height: 45px; color: #ffffff; font-size: 10pt;   border-radius: 2px;" />
                    </div>
                    <div class="col-md-6">
                        <input type="submit" name="" ng-click="avort()" class="annuler" id="" value="ANNULER" style="width: 70%;" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 foot">
                <span class="text">Développé avec la Plateforme</span>
                <span class="text-link"><a target="_blank" href="http://wakanda.github.io/">Wakanda</a></span>
            </div>
        </div>


    </form>

</div>
    </body>
</html>