<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>

<div class="container-fluid">
    <h1 class="hidden">I-CLEFS</h1>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">

        <div class="row">
            <div class="col-md-5 col-md-offset-3 bg-danger" ng-if='error'>
                <br>
                <p class="text-center text-danger">
                    {{msg}}
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <form class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="generateCSV()"  ng-disabled="export == ''">Export CSV</button>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="export" id="type-export-id" title="Export" >
                            <option value="Demande des citoyens" selected>Demande des citoyens</option>
                            <option value="Enfants" selected>Enfants</option>
                            <option value="Parents" selected>Parents</option>
                        </select>
                    </div>

                </form>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-5 pull-right">
                <form class="form-inline">
                    <div class="form-group filter pull-right">
                        <label for="filter" class="text-filter">Filtrer par type de service:</label>
                        <select class="form-control choix" ng-change="getTicketFilter()" id="filter" ng-model="filterName">
                            <option value="tous" selected>Tous</option>
                            <option ng-repeat="service in services" value="{{service.name}}">{{service.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3">
				<span class="titre_demandes cur" ng-style="{ 'text-decoration': show == 'nonTreated' ? 'underline' : 'none' }" ng-click="nonTreatedRequests()">
					Demandes non traitées
				</span>
            </div>
            <div class="col-md-3">
				<span class="titre_demandes cur" ng-style="{ 'text-decoration': show == 'validated' ? 'underline' : 'none' }" ng-click="validatedRequests()">
					Demandes acceptées
				</span>
            </div>
            <div class="col-md-3">
				<span class="titre_demandes cur" ng-style="{ 'text-decoration': show == 'nonValidated' ? 'underline' : 'none' }" ng-click="nonValidatedRequests()">
					Demandes refusées
				</span>
            </div>
            <div class="col-md-3">
				<span class="titre_demandes cur" ng-style="{ 'text-decoration': show == 'all' ? 'underline' : 'none' }" ng-click="allRequests()">
					Toutes les demandes
				</span>
            </div>
        </div>
        <div class="col-md-12" ng-show="loading">

            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>

        </div>
        <div class="col-md-11">
            <div class="row demandes">
                <div class="demande frm-padd" ng-repeat="x in dataToShow | orderBy:'+ ID':true">
                    <div class="row" ng-click="open = !open">
                        <div class="info c">
                            <table class="table-presentation">
                                <tr>
                                    <td class="td">
                                        <span class="data">{{x.service.name}}</span><br>
                                        <span class="meta-data">Demandeur : </span><span class="data">{{x.fcData.given_name}}</span><br>
                                        <span class="data" ng-if="x.service.confFc.birth_date">Date de naissance :</span><br>
                                        <span class="meta-data" ng-if="x.service.confFc.birth_date">{{x.fcData.birth_date}}</span>
                                    </td>
                                    <td class="td">
                                        <span class="meta-data">Numéro de dossier</span><br>
                                        <span class="data">{{x.ID}}</span>
                                    </td>
                                    <td class="td">
                                        <span class="meta-data">Date</span><br>
                                        <span class="data">{{x.date | date : "dd/MM/yyyy"}}</span>
                                    </td>
                                    <td class="td">
                                        <span class="glyphicon glyphicon-triangle-bottom z" ng-show="!open"></span>
                                        <span class="glyphicon glyphicon-triangle-top z" ng-show="open"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-show="open">
                        <div class="row">
                            <div class="col-md-10 border-separator"></div>
                        </div>
                        <div class="row">
                            <div class="info c">
                                <div>
                                    <div class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">NOM</span></br>
                                        <span class="data_infos_demandes">{{x.fcData.family_name}}</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">PRENOM</span></br>
                                        <span class="data_infos_demandes">{{x.fcData.given_name}}</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">Email</span></br>
                                        <span class="data_infos_demandes">{{x.fcData.email}}</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">ADRESSE POSTALE</span></br>
                                        <span class="data_infos_demandes" ng-if="x.fcData.address == null">N/A</span>
                                        <span class="data_infos_demandes" ng-if="x.fcData.address.formatted == null">{{x.fcData.address}}</span>
                                        <span class="data_infos_demandes" ng-if="x.fcData.address.formatted != null">{{x.fcData.address.formatted}}</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">Sexe</span></br>
                                        <span class="data_infos_demandes" ng-if="x.fcData.gender === 'male'">Homme</span>
                                        <span class="data_infos_demandes" ng-if="x.fcData.gender !== 'male'">Femme</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">Date de naissance</span></br>
                                        <span class="data_infos_demandes">{{x.fcData.birthdate | date : "dd/MM/yyyy"}}</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes" ng-if="x.fcData.birthplace !== '' ">
                                        <span class="titre_infos_demandes">Lieu de naissance</span></br>
                                        <span class="data_infos_demandes">{{x.fcData.birthplace}}</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes" ng-if="x.fcData.birthplace === '' ">
                                        <span class="titre_infos_demandes">Lieu de naissance</span></br>
                                        <span class="data_infos_demandes">N/A</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes" ng-if="x.fcData.birthcountry !== '' ">
                                        <span class="titre_infos_demandes">Pays de naissance</span></br>
                                        <span class="data_infos_demandes">{{x.fcData.birthcountry}}</span>
                                    </div>
                                    <div class="col-md-3 infos_demandes" ng-if="x.fcData.birthcountry === '' ">
                                        <span class="titre_infos_demandes">Pays de naissance</span></br>
                                        <span class="data_infos_demandes">N/A</span>
                                    </div>
                                    <div ng-if="x.service.config.avisImposition && x.apiData.situationFamille" class="row">
                                        <div class="col-md-10 border-separator"></div>
                                    </div>
                                    <div ng-if="x.service.config.avisImposition && x.apiData.situationFamille" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">SITUATION FAMILIALE</span></br>
                                        <span class="data_infos_demandes">{{x.apiData.situationFamille}}</span>
                                    </div>
                                    <div ng-if="x.apiData.anneeImpots" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">ANNEE D'IMPOSITION / ANNEE DE REVENU</span></br>
                                        <span class="data_infos_demandes">{{x.apiData.anneeImpots}} / {{x.apiData.anneeRevenus}}</span>
                                    </div>
                                    <div ng-if="x.service.config.avisImposition && x.apiData.nombreParts" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">NOMBRE DE PARTS</span></br>
                                        <span class="data_infos_demandes">{{x.apiData.nombreParts}}</span>
                                    </div>
                                    <div ng-if="x.service.config.avisImposition && x.apiData.nombrePersonnesCharge"  class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">NOMBRE DE PERSONNES A CHARGE</span></br>
                                        <span class="data_infos_demandes">{{x.apiData.nombrePersonnesCharge}}</span>
                                    </div>
                                    <div ng-if="x.service.config.avisImposition && x.apiData.revenuBrutGlobal" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">REVENU BRUT GLOBAL</span></br>
                                        <span class="data_infos_demandes">{{x.apiData.revenuBrutGlobal}} €</span>
                                    </div>
                                    <div ng-if="x.service.config.avisImposition && x.apiData.revenuFiscalReference" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">REVENU FISCAL DE REFERENCE</span></br>
                                        <span class="data_infos_demandes">{{x.apiData.revenuFiscalReference}} €</span>
                                    </div>
                                    <div ng-if="x.service.config.adresseFiscale && x.apiData.revenuImposable" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">REVENU IMPOSABLE</span></br>
                                        <span class="data_infos_demandes">{{x.apiData.revenuImposable}} €</span>
                                    </div>
                                    <div class="row" ng-if="x.service.config.quotientFamilial || x.service.config.compositionFamiliale || x.service.config.adresse">
                                        <div class="col-md-10 border-separator"></div>
                                    </div>
                                    <div ng-if="x.service.config.quotientFamilial && x.cafData.quotientFamilial" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">Quotient familial  </span></br>
                                        <span class="data_infos_demandes">{{x.cafData.quotientFamilial}} </span>
                                    </div>
                                    <div ng-if="x.service.config.compositionFamiliale && x.cafData.enfants" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">Les enfants  </span>
                                        <div ng-repeat="enfant in x.cafData.enfants">
                                            <br><span class="data_infos_demandes">Nom: {{enfant.nomPrenom}} </span>
                                            <br><span class="data_infos_demandes">Date De Naissance: {{enfant.dateDeNaissance.slice(0,2)+"/"+enfant.dateDeNaissance.slice(2,4)+"/"+enfant.dateDeNaissance.slice(4,8)}} </span>
                                            <br><span class="data_infos_demandes">Sexe: {{enfant.sexe}} </span>
                                        </div>
                                    </div>
                                    <div ng-if="x.service.config.compositionFamiliale && x.cafData.allocataires" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">Les Parents  </span>
                                        <div ng-repeat="prnt in x.cafData.allocataires">
                                            <br><span class="data_infos_demandes">Nom: {{prnt.nomPrenom}} </span>
                                            <br><span class="data_infos_demandes">Date De Naissance: {{prnt.dateDeNaissance.slice(0,2)+"/"+prnt.dateDeNaissance.slice(2,4)+"/"+prnt.dateDeNaissance.slice(4,8)}} </span>
                                            <br><span class="data_infos_demandes">Sexe: {{prnt.sexe}} </span>
                                        </div>
                                    </div>
                                    <div ng-if="x.service.config.adresse && x.cafData.adresse" class="col-md-3 infos_demandes">
                                        <span class="titre_infos_demandes">Adresse  </span></br>
                                        <span class="data_infos_demandes">{{x.cafData.adresse.complementIdentiteGeo}}, {{x.cafData.adresse.numeroRue}} </span><br>
                                        <span class="data_infos_demandes">{{x.cafData.adresse.codePostalVille}}, {{x.cafData.adresse.pays}} </span><br>

                                    </div>
                                    <div class="row" ng-if="x.dataValueCollection.length != 0">
                                        <div class="col-md-10 border-separator"></div>
                                    </div>
                                    <div class="col-md-3 infos_demandes" ng-repeat="d in x.dataValueCollection">
                                        <span class="titre_infos_demandes">{{d.personnaliseData.name}}</span></br>
                                        <span class="data_infos_demandes"><a href="/api/v1/service/downloadFile?file={{d.valeur}}" target="_self" download="{{d.valeur}}">{{d.valeur}}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"  ng-if="!x.archive">
                                <div class="col-md-5">
                                    <button class="valider_demande_demandes" ng-click="validate(x)" >
                                        Valider la demande
                                    </button>
                                </div>
                                <div class="col-md-5">
                                    <button class="refuser_demandes" ng-click="refused(x)">
                                        Refuser la demande
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----- Pagination ----->

        <div class="col-md-4 col-md-offset-4 pagination-footer">
            <ul class="pagination">
                <li class="page-item">
                    <button class="previous"  ng-click="dataToShow.$prevPage(); currentPage = currentPage - 1;" ng-disabled="currentPage == 1">Précédent</button>
                </li>
                <li>
                    <span class="pages">{{currentPage}}/{{dataToShow.$totalCount>10 ? Math.ceil(dataToShow.$totalCount/10) : '1'}}</span>
                </li>
                <li class="page-item">
                    <button class="next" ng-click="dataToShow.$nextPage(); currentPage = currentPage + 1;" ng-disabled="!dataToShow.$totalCount || currentPage == (Math.ceil(dataToShow.$totalCount/10) | number : 0)">Suivant</button>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>