<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>

<div class="container-fluid">
    <h1 class="hidden">I-CLEFS</h1>
    <div class="row">
        <div class="col-md-5 col-md-offset-2 bg-danger" ng-if='error'>
            <br>
            <p class="text-center text-danger">
                {{msg}}
            </p>
            <br>
        </div>
        <div class="col-md-5 pull-right">
            <form class="form-inline">
                <div class="form-group filter pull-right">
                    <button type="button" class="btn btn-success" ng-click="generateCSV()">Exporter les données</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <br><br>
            <div class="form-box frm-padd">
                <div class="bg-success alert-div" ng-if='saved'>
                      <span class="su">
						    Les informations de votre collectivité ont été modifiées.
						  </span>
                </div>
                <div class="bg-danger alert-div" ng-if='saved == false'>
                      <span class="err">
						    Une erreur s'est produite lors de l'enregistrement des informations.
                      </span>
                </div>
                <div class="bg-danger alert-div" ng-if='empty'>
                      <span class="err">
						    Veuillez remplir les champs
                      </span>
                </div>
                <form>
                    <div class="form-group wd">
                        <label for="collectivityName">NOM DE LA COLLECTIVITÉ</label><br>
                        <input ng-readonly="true" ng-model="data.name" id="collectivityName" class="input-col" type="text" placeholder="{{data.name}}">
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <label for="cnil">N° CNIL</label>
                        <input ng-readonly="true"  id="cnil" class="input-col" type="text" placeholder="{{data.CNIL}}">
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <label for="codePostal">CODE POSTAL</label>
                        <input ng-readonly="true" ng-model="data.zipCode" id="codePostal" class="input-col" type="text" placeholder="{{data.zipcode}}">
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <label for="cle">FRANCE CONNECT 'clef' CLIENT</label>
                        <input ng-model="data.client_Id" id="cle" class="input-col" type="text" placeholder="clef">
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <label for="secret">FRANCE CONNECT 'secret' CLIENT</label>
                        <input ng-model="data.client_secret" id="secret" class="input-col" type="text" placeholder="secret">
                        <div class="border_me4 b"></div>
                    </div>
                    <div class="form-group wd">
                        <label for="input_redirect">URL DE REDIRECTION</label>
                        <input ng-model="data.postRedirectUri" id="input_redirect" class="input-col" pattern="[^\s]+" type="text" placeholder="Url de Callback">
                        <div class="border_me4 b"></div>
                    </div>
                    <div id="refresh1" class="form-group btn-width">
                        <div class="col-md-6">
                            <button type="submit" ng-click="setFunc(data)" class="btn-action-principale-bleu btn-action-grand">
                                ENREGISTRER LES MODIFICATIONS
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button ui-sref="administrationStatistics" class="btn-action-principale-gris btn-action-grand">
                                ANNULER
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    </body>
</html>