<div style="margin-left: 5%;text-align: initial;color: black;font-size: 15px;font-style: normal;font-family: sans-serif;">
    Bonjour ${name},
    <br><br>
    Votre demande de création de compte pour la collectivité ${collectivityName} a bien été prise en compte.
    <br>
    Nous vous transmettrons vos identifiants par email dés sa validation par notre administrateur.
</div>