<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container" id="login-page">
    <!--logos-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 zone-white">
            <div class="text-center">
                <img id="FC-logo" src="images/addulact.png" alt="FClogo" >
                <img id="FC-logo" src="images/FranceConnect.png" alt="FClogo" >
            </div>

        </div>
    </div>
    <!--end logos-->
    <!-- welcome text-->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">
                <span class="welcome-text" aria-level="1" role="heading">
                    Bienvenue sur i-CLEFS (ALPHA)
                </span> <br>
                <span class="chld-welcome">
                    Simplifiez les démarches de vos administrés avec France Connect
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2" >

    </div>
    <!--end welcome text-->
    <br><br>
    <!--from-->
    <form >
        <div class="col-md-8 col-md-offset-2">
            <div class="bg-danger msg-red" ng-show="IsMatch">
                Les mots de passe ne sont pas identiques.
            </div>
            <div class="bg-success msg-green" ng-show="pwdRegistred">
                Votre mot de passe a bien été enregistré.
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 zone-white  shadow-zone">
                <br>
                <p class="text-center">
                <span class="connection-text">
                    Connexion
                </span>
                </p>
                <div class="border_me br-login"></div>
                <div class="input-login">
                    <div class="col-md-8 col-md-offset-2">
                        <input class="input2" title="Mot de Passe" type="password" placeholder="mot de passe" ng-model="Password" required="" id="passwod-id">
                        <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                    </div>
                    <br><br>
                    <div class="col-md-8 col-md-offset-2">
                        <input class="input2" title="Confirmation mot de passe" type="password" placeholder="Confirmer mot de passe" ng-model="confirmerPassword" required="" id="confirm-password-id">
                        <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <input ng-click="submit_pwd()" class="co_button button_hover" type="submit" name="send_email"  value="ENVOYER" ng-disabled="myForm_pwd.$invalid"  style="width: 90%; height: 45px; color: #ffffff; font-size: 10pt; margin-top: 12%;  border-radius: 8px;">
                        </br></br>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 foot">
                <span class="text">Développé avec la Plateforme</span>
                <span class="text-link"><a target="_blank" href="http://wakanda.github.io/">Wakanda</a></span>
            </div>
        </div>
    </form>
    <!--end form-->




</div>
</body>
</html>