<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container"  id="login-page">
    <!--logos-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 zone-white">
            <div class="text-center">
                <img id="FC-logo1" src="images/addulact.png" alt="" >
                <img id="FC-logo2" src="images/FranceConnect.png" alt="" >
            </div>
        </div>
    </div>
    <!--end logos-->

    <!-- welcome text-->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">
                <span class="welcome-text" aria-level="1" role="heading" >
                   Bienvenue sur i-CLEFS (ALPHA)
                </span> <br>
                <span class="chld-welcome">
                    Simplifiez les démarches de vos administrés avec France Connect
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 bg-success msg-green" ng-if='requested' dismiss-on-timeout="5000">
        Votre demande de création de collectivité a bien été prise en compte.<br>
    </div>
    <br><br>
    <!--from-->
    <form>
        <div class="col-md-8 col-md-offset-2">
            <div uib-alert ng-repeat="alert in alerts" close="closeAlert()" ng-class="alert.type" ng-if="show" dismiss-on-timeout="5000">
                {{alert.msg}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 zone-white  shadow-zone">
                <br>
                <p class="text-center">
                <span class="connection-text">
                    Connexion
                </span>
                </p>
                <div class="border_me br-login"></div>
                <div class="input-login">
                    <div class="col-md-6">
                        <input title="Email" class="input2" type="email" placeholder="Adresse e-mail" ng-model="user.userName" required="" id="email-cnx-id">
                        <div class="border_me2" style="margin-top: 2%; margin-right: 20%; margin-left: 0%"></div>
                    </div>
                    <div class="col-md-6" >
                        <input title="Mot de Passe" class="input2" type="password" placeholder="Mot de passe" ng-model="user.passwd" required="" id="password-id-cnx">
                        <div class="border_me2" style=" margin-top: 2%; margin-right: 20%; margin-left: 0%;"></div>
                        <br>
                        <a ng-click="pwd_forgotten()" href="#">
                            <span  style="cursor: pointer; size:2; color:00A3F7" >Mot de passe oublié ?</span>
                        </a>
                    </div>
                </div>
                <div style="text-align: center">
                    <input ng-click="loginFunc(user)" class="co_button button_hover" type="submit" name="connexion" value="CONNEXION" style="width: 40%; height: 45px; color: #ffffff; font-size: 10pt; margin-top: 12%;  border-radius: 8px;">
                    </br></br><span style="color: #333E54">Vous n'avez pas de compte ?</span>
                    <a ng-click="goCreate()" href="#">
                        <span style="color: #007AB8">Créer un compte</span>
                    </a>
                </div>
                <p></br></p>
            </div>
            <div class="col-md-8 col-md-offset-2 foot">
                <span class="text">Développé avec la Plateforme</span>
                <span class="text-link"><a target="_blank" title="Cliquer pour visiter le site de Wakanda" href="http://wakanda.github.io/">Wakanda</a></span>
            </div>
        </div>
    </form>
    <!--end form-->

</div>

</body>
</html>