<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container content-page" id="login-page">
    <div class="row head-logo">
        <div class="col-md-6 col-md-offset-3 zone-white">
            <div class="text-center">
                <img id="FC-logo1" src="images/addulact.png" alt="FClogo" >
                <img id="FC-logo2" src="images/FranceConnect.png" alt="FClogo" >
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3" ng-show="loading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <div class="row" ng-show="!loading">
        <div class="col-md-10 col-md-offset-1 titre-page">
            <p class="text-center service" aria-level="1" role="heading">
                {{serviceName}}
            </p>
            <div class="col-md-2 col-md-offset-5 separator">
            </div>
        </div>
        <br>
        <div class="col-md-10 col-md-offset-1 info-text">
            <p class="text-center info">Nous avons besoin d’un peu plus d’informations de votre part :</p>
            <p class="text-center info">Renseignez le formulaire ci-dessous et cliquez sur Envoyer.</p>
            <p class="text-center info-red" ng-show="showErrorMessage">Verifiez que l'extension du fichier est valide</p>
        </div>
    </div>
    <form ng-show="!loading">
        <div class="col-md-8 col-md-offset-2">
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 zone-white  shadow-zone">
                <div class="col-md-6 col-md-offset-3">
                    <p class="required ">
                        <span class="hand">
                            <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                        </span>
                        Tous les champs sont obligatoires
                    </p>
                    <div class="err-msg" ng-show="empty">
                        <p>Remplissez le formulaire</p>
                    </div>
                    <!-- <div class="champ">
                         <span class="text">Etablissement</span><br>
                         <input type="text" class="input-text">
                     </div>
                     <div class="champ">
                         <span class="text">Classe</span><br>
                         <input type="text" class="input-text">
                     </div>-->
                    <div class="champ" ng-repeat="dp in personaliseData">
                        <span class="text">{{dp.name}}</span><br>
                        <input id="file_{{dp.ID}}" type="file" class="file" ng-files="getTheFiles($files,{{dp.ID}})">
                        <p class="upload" ng-class="{error : fileError}">
                            <span id="name_{{dp.ID}}">Document pdf, doc, rtf ou txt</span>
                            <label for="file_{{dp.ID}}">Parcourir...</label>
                        </p>
                        <span class="error" ng-show="error">ce type de fichier n'est pas accepté</span>
                    </div>
                    <div class="btn-send">
                        <button type="button" class="send" ng-click="upload()">
                            <span>ENVOYER</span>
                        </button>
                    </div>
                </div>
                <!--<div class="col-md-10 col-md-offset-1 marge">

                    <div class="row form-group" ng-repeat="dp in personaliseData">
                        <div class="col-md-6">
                            <label>{{dp.name}}</label>
                            <input type="hidden" ng-model="fieldID" ng-init="fieldID=dp.ID">
                            <input type="file" name="file" ng-files="getTheFiles($files,fieldID)" />
                            <p class="help-block" ng-if="dp._required">champ obligatoire</p>
                        </div>
                        <div class="col-md-6 upload-info">
                            <span class="glyphicon glyphicon-alert upload-war" id="accept_{{dp.ID}}">
                                Ce type n'est pas acceptable
                            </span>
                            <span class="glyphicon glyphicon-remove upload-er" id="error_{{dp.ID}}">
                                Erreur de téléchargement
                            </span>
                            <span class="glyphicon glyphicon-ok upload-succ" id="succes_{{dp.ID}}">
                                Fichier téléchargé avec succès
                            </span>
                        </div>
                    </div>
                    &lt;!&ndash;<div class="col-md-3">
                        <button type="button" class="btn-action-principale-bleu btn-action-medium" ng-click="uploadFiles()">Envoyer</button>
                    </div>&ndash;&gt;
                </div>-->
            </div>




            <div class="col-md-8 col-md-offset-2 foot">
                <span class="text">Développé avec la Plateforme</span>
                <span class="text-link"><a target="_blank" href="http://wakanda.github.io/">Wakanda</a></span>
            </div>
        </div>
    </form>
</div>

    </body>
</html>