<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container content-page" id="recu">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 titre-page">
            <p class="text-center service" aria-level="1" role="heading">
                Votre demande a été traitée
            </p>
            <div class="col-md-2 col-md-offset-5 separator">
            </div>
        </div>
        <br>
        <div class="col-md-10 col-md-offset-1 info-text">
            <p class="text-center info">Pensez à conserver votre numéro de dossier</p>
        </div>
    </div>
    <form>
        <div class="col-md-8 col-md-offset-2">
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 zone-white  shadow-zone" >
                <div class="col-md-9 col-md-offset-1 titre-page">
                    <p class="text-center service">
                        {{serviceName}}
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-2 text-center info-demande">
                    <p>
                        Effectuée le {{dateDemande | date:'dd MMMM yyyy '}} à {{dateDemande | date : 'HH:mm'}}
                    </p>
                    <p>
                        <strong>N° de dossier :</strong> {{numDossier}}
                    </p>
                    <div class="col-md-6 col-md-offset-3">
                        <p>
                            {{name}} <br>
                            {{adresse}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="btn-send">
                    <button type="button" class="send" ng-click="printpage()" ng-show="print">
                        <span>Imprimer</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="btn-logout">
                    <button type="button" class="send" ng-click="logout()" ng-show="print">
                        <span>Terminer</span>
                    </button>
                </div>
            </div>


            <div class="col-md-8 col-md-offset-2 foot">
                <span class="text">Développé avec la Plateforme</span>
                <span class="text-link"><a target="_blank" href="http://wakanda.github.io/">Wakanda</a></span>
            </div>
        </div>
    </form>
</div>
    </body>
</html>