<div style="margin-left: 5%;text-align: initial;color: black;font-size: 15px;font-style: normal;font-family: sans-serif;">
    Bonjour ${name},
    <br><br>
    Vous avez créé une demande au service ${serviceName} de la collectivité ${collectivityName} sous le numéro de dossier ${num}.
    <br>
    Nous vous transmettrons la réponse par email dés sa validation par l'administrateur.
</div>