<div style="margin-left: 5%;text-align: initial;color: black;font-size: 15px;font-style: normal;font-family: sans-serif;">
    Bonjour ${name},
    <br><br>
    Votre demande de création de compte pour la collectivité ${collectivityName} a été confirmée.
    <br>
    Vous pouvez dès à présent vous connecter avec votre adresse email et le mot de passe choisi lors de la création de votre compte.
</div>