<div style="margin-left: 5%;text-align: initial;color: black;font-size: 15px;font-style: normal;font-family: sans-serif;">
    Bonjour ${name},
    <br><br>
    La création du nouveau service ${serviceName} dans la collectivité ${collectivityName} a bien été efféctuée.
</div>