<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>i-Clefs </title>
    </head>
    <body>
<div class="container-fluid">
       <h1 class="hidden">ICLEFS</h1> 
    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 btn-btn" ng-show="!loading">
        <div class="heigh">
            <div class="row">
                <div class="col-md-3">
                    <button ng-if="showButton" ui-sref="new_Service" class="btn-action-principale-rouge btn-action-medium" type="submit" name="create FC buttons">
                        <img src="images/IconPlus.png" alt="Ajouter Service" >
                        <span>Créer un service</span>
                    </button>
                    <button disabled ng-if="!showButton" class="btn-action-principale-gris btn-action-medium" type="submit" name="create FC buttons">
                        <img src="images/IconPlus.png" alt="Créer Service">
                        <span>Créer un service</span>
                    </button>
                </div>
            </div>
            <div class="row" ng-if="!showButton">
                <br>
                <div class="col-md-12">
					<span class="text-create-btn">
						Vous devez d'abord créer votre compte Fournisseur de Services sur le site France Connect : <a href="https://partenaires.franceconnect.gouv.fr">https://partenaires.franceconnect.gouv.fr</a>.
						Contactez-nous si vous avez besoin d’assistance.
					</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3" ng-show="loading">

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-4 bg-danger" ng-if='error'>
            <br>
            <p class="text-center text-danger">
                {{msg}}
            </p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <form class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="generateCSV()" ng-disabled="export == ''">Export CSV</button>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="export" title="Exporter">
                        <option value="Services" selected>Services</option>
                        <option value="Champs personnalisés" selected>Champs personnalisés</option>
                    </select>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 base">
        <div class="row">
            <div class="col-md-12">
                <div class="row demandes">
                    <div class="demande" ng-repeat="x in data ">
                        <div class="row" ng-click="ok = !ok">
                            <div class="info c">
                                <table class="table-presentation">
                                    <tr>
                                        <td>
                                            <img ng-if="x.status" src="images/Green.png" style="margin-right: 13px;" alt="Validé">
                                            <img ng-if="!x.status" src="images/Red.png" style="margin-right: 13px;" alt="Attente">
                                            <span class="text-conf">{{x.name}}</span>
                                        </td>
                                        <td>
                                            <span class="text-conf">État</span><br>
                                            <span ng-if="x.status" class="act text-conf">Actif</span>
                                            <span ng-if="!x.status" class="inact text-conf">Inactif</span>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-triangle-bottom z" ng-show="!ok"></span>
                                            <span class="glyphicon glyphicon-triangle-top z" ng-show="ok"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-show="ok">
                            <div class="row">
                                <div class="col-md-10 border-separator"></div>
                            </div>
                            <div class="row top_separator">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <span class=" titre_table_cache">DONNÉES SELECTIONÉES</span><br>
                                        <div class="col-md-8">
                                            <div ng-repeat="line in x.data.tab track by $index" ng-if="line != null && line != 'none'" class="content_table_cache">- {{line}}</div>
                                        </div>
                                        <!-- Large modal -->
                                        <button type="button" class="btn-action-principale-gris btn-action-medium" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="refreshMail(x.ID)">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                            <span>Modifier courriels types</span>
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <span class=" titre_table_cache">URL Service FranceConnect :</span>
                                            <button ng-click="count = count + 1" ng-init="count = 0" aria-label="test" data-copy-target="to_copy" class="copier_bouton">
                                                <span ng-if="!text_copy">Copier dans le presse-papier</span>
                                                <span ng-if="text_copy">Copié !</span>
                                            </button>
                                        </div>
                                        <div class="col-md-12"><div class="content_table_cache" style="margin-top: 30px;" id="to_copy">{{x.codeBoutton}}</div> <!-- x.code --><br></div>
                                        <div class="col-md-3" id="{{ x.ID }}">
                                            <qrcode version="20" error-correction-level="L" size="250" data="{{x.urlFc}}" href="{{x.urlFc}}">
                                            </qrcode>
                                        </div>
                                        <div class="col-md-3">
                                            <button ng-click="downloadQRCode(x.ID,x.name)" class="copier_bouton">
                                                <span>Télécharger (PNG)</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <button type="button" ng-click="switchStatus(x.$_entity)" class="btn-action-secondaire-gris btn-action-medium" id="activer_desactiver_boutons">
                                            <span ng-if="!x.status" class="act">Activer</span>
                                            <span ng-if="x.status" class="inact">Désactiver</span>
                                        </button>
                                    </div>
                                    <!--<div class="col-md-2 pull-right">
                                        <button type="button" class="btn-action-principale-rouge btn-action-medium" ng-click="deleteIteme(x.$_entity)">
                                            <span>Supprimer</span>
                                        </button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----- Pagination ----->
        <div class="col-md-4 col-md-offset-4 pagination-footer" ng-if="((data.$totalCount/5) | number : 0) != 0">
            <ul class="pagination">
                <li class="page-item">
                    <button class="previous"  ng-click="data.$prevPage(); currentPage = currentPage - 1;" ng-disabled="currentPage == 1">Précédent</button>
                </li>
                <li>
                    <span class="pages">{{currentPage}}/{{ (data.$totalCount/5) | number : 0 }}</span>
                </li>
                <li class="page-item">
                    <button class="next" ng-click="data.$nextPage(); currentPage = currentPage + 1;" ng-disabled="currentPage == ((data.$totalCount/5) | number : 0)">Suivant</button>
                </li>
            </ul>
        </div>
    </div>
    <!---Modal and lancher---->
    <div class="row">
        <div class="col-md-2 chek">
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeMail()"><span aria-hidden="true">&times;</span></button>
                            <p class="modal-title" id="myModalLabel"> Modifier courriel</p>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <script type="text/ng-template" id="alert.html">
                                    <div ng-transclude></div>
                                </script>
                                <div uib-alert template-url="alert.html" class="bg-warning" style="color: #222222;">
                                    <p>Vous pouvez insérer les variables suivantes:</p>
                                    <p> %nomComplet% : nom et prénom du Demandeur</p>
                                    <p> %nomCollectivite% : nom de la Collectivité</p>
                                    <p> %nomService% : nom du Service</p>
                                </div>
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="bg-success alert-div" ng-if="addSuccessfully">
                                        <span class="su">Le courriel a bien été créé.</span>
                                    </div>
                                    <div class="bg-success alert-div" ng-if="updateSuccessfully"><!--test-->
                                        <span class="su">Le courriel a bien été modifié.</span>
                                    </div>
                                    <div class="bg-danger alert-div" ng-if="emptyFields">
                                        <span class="err">Tous les champs sont obligatoires.</span>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="margin-bottom: 10px; margin-top: 10px;">

                                <div class="col-md-12" style="margin-bottom: 3%; margin-top: 2%;">
                                    <div class="col-md-4">
                                        <label for="mySelect">Choisir le type de message:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select name="mySelect" id="mySelect" ng-model="mail.type" class="form-control" ng-change="getMail(this.mail)">
                                            <option value="demande">Accusé de réception</option>
                                            <option value="acceptation">Acceptation de la demande</option>
                                            <option value="refus">Refus de la demande</option>
                                        </select>
                                    </div>
                                    <span ng-show="form_mail.select_type.$dirty && form_mail.select_type.$invalid">Choisir un type</span>
                                </div>

                                <div class="col-md-12 ">
                                    <div class="col-md-4">
                                        <label>Sujet: </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" title="Sujet" ng-model="mail.subject" required>
                                    </div>

                                </div>


                            </div>
                            <div text-angular ng-model="mail.body">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeMail()">FERMER</button>
                            <button ng-click="saveMail(mail)" class="btn btn-primary"> SAUVEGARDER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------end Modal------>
</div>

    </body>
</html>